@model SIP.Models.DataSubjek

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DataSubjek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rtrw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rtrw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndProvinsiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndProvinsiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndKabKotaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndKabKotaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndKecamatanId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndKecamatanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndKelurahanId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndKelurahanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoTelp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoTelp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodePos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodePos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Npwp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Npwp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kelamin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kelamin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TglLahir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TglLahir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPekerjaan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPekerjaan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PekerjaanLain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PekerjaanLain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaInstansi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaInstansi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBadanHukum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBadanHukum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TglDaftar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TglDaftar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoPokok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoPokok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Npwpd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Npwpd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Npwrd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Npwrd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSubjek" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
