@model SIP.Models.Sts

@{
    ViewBag.Title = "Edit Detail STS";
    ViewBag.SubHeaderTitle = "STS";
    ViewBag.S1 = "Edit Detail";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<form asp-action="Data">
    <input type="hidden" asp-for="IdSts" />
    <div class="row">
        <div class="col-lg-5">
            <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Daftar @Model.Keterangan Belum Disetor
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="table-responsive">
                        <table id="tbl_detail" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nomor</th>
                                    <th>Tanggal</th>
                                    <th>Setoran</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="kt-portlet">
                <!--begin: Portlet Head-->
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <div class="kt-portlet__head-title">
                            <h3 class="kt-portlet__head-title">
                                Data STS
                            </h3>
                        </div>
                    </div>
                </div>
                <!--end: Portlet Head-->
                <!--begin: Portlet Body-->
                <div class="kt-portlet__body">
                    <div class="table-responsive">
                        <table id="tbl_sts" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nomor</th>
                                    <th>Tanggal</th>
                                    <th>Setoran</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!--end: Portlet Body-->
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-align-right">
                        <a asp-action="Index" class="btn btn-secondary">Kembali</a>
                        <input type="submit" value="Simpan" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        GetDetail();

        function AddDetail(id) {
            $.ajax({
                type: "POST",
                url: '/STS/AddDetail',
                data: { id: id, sts: "@Model.IdSts", jenis: "@Model.Keterangan" },
                dataType: "json",
                success: function (result) {
                    if (result.success) {
                        GetDetail();
                        toastr.success("Data berhasil ditambahkan!");
                    }
                    else {
                        if (result.exist) {
                            GetDetail();
                            toastr.error("Error! Data Ada Pada STS Lain!");
                        }
                        else {
                            toastr.error("Error! Terjadi kesalahan!");
                        }
                        
                    }
                }
            });
            return false;
        };

        // LOAD DATA
        function GetDetail() {
            $("#tbl_detail tbody tr").remove();
            var url = '/STS/Get' + "@Model.Keterangan";
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                success: function (data) {
                    var no = 0;
                    $.each(data, function (i, item) {
                        no += 1;
                        var rows = "<tr>"
                            + "<td>" + no + "</td>"
                            + "<td>" + item.no + "</td>"
                            + "<td>" + item.tanggal + "</td>"
                            + "<td nowrap>" + item.jumlah + "</td>"
                            + '<td nowrap><a href="javascript:;" onclick="AddDetail(' + "'" + item.id + "'" + ')" ><span class="kt-badge kt-badge--success">+</span></a></td>'
                            + "</tr>";
                        $('#tbl_detail tbody').append(rows);
                    });
                },
                complete: function () {
                    Get_STS();
                },
                error: function () {
                    toastr.error("Error! Terjadi kesalahan!");
                }
            });
            return false;
        }

        // HAPUS DATA
        function Del_STS(id) {
            $.ajax({
                type: "POST",
                url: '/STS/RemoveSTS',
                data: { id: id },
                dataType: "json",
                success: function (result) {
                    if (result.success) {
                        GetDetail();
                        toastr.success("Data berhasil dihapus!");
                    }
                    else {
                        toastr.error("Error! Terjadi kesalahan!");
                    }
                }
            });
            return false;
        };

        // LOAD DATA STS
        function Get_STS() {
            $("#tbl_sts tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '/STS/GetSTS',
                dataType: 'json',
                data: { id: '@Model.IdSts', jenis: "@Model.Keterangan" },
                success: function (data) {
                    var no = 0;
                    $.each(data, function (i, item) {
                        no += 1;
                        var rows = "<tr>"
                            + "<td>" + no + "</td>"
                            + "<td>" + item.no + "</td>"
                            + "<td>" + item.tanggal + "</td>"
                            + "<td nowrap>" + item.jumlah + "</td>"
                            + '<td nowrap><a href="javascript:;" onclick="Del_STS(' + "'" + item.id + "'" + ')" ><span class="kt-badge kt-badge--danger">x</span></a></td>'
                            + "</tr>";
                        $('#tbl_sts tbody').append(rows);
                    });
                },
                error: function () {
                    toastr.error("Error! Terjadi kesalahan!");
                }
            });
            return false;
        }
    </script>
}
