@model SIP.Models.Sts

@{
    ViewBag.Title = "Detail STS";
    ViewBag.SubHeaderTitle = "STS";
    ViewBag.S1 = "Detail";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<div class="row justify-content-center">
    <div class="col-lg-3">
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head kt-ribbon @(Model.FlagValidasi ? "kt-ribbon--success" : "kt-ribbon--danger") kt-ribbon--left kt-ribbon--round">
                <div class="kt-ribbon__target" style="top: 10px; right: -2px;">@(Model.FlagValidasi ? "Sudah Setor" : "Belum Setor")</div>
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Detail STS
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget kt-widget--user-profile-2">
                    <div class="kt-widget__body">
                        <div class="kt-widget__item kt-padding-t-0">
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Nomor</span>
                                <span class="kt-widget__data kt-align-right">@Model.NoSts</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Tanggal</span>
                                <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.Tanggal)</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Jumlah Setor</span>
                                @if (Model.FlagKonfirmasi)
                                {
                                    <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.JumlahSetoran)</span>
                                }
                                else
                                {
                                    <span class="kt-widget__data kt-align-right kt-font-danger">@string.Format("{0:C0}", Model.JumlahSetoran)</span>
                                }
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Bank Setoran</span>
                                <span class="kt-widget__data kt-align-right">@Model.IdBankNavigation.NamaRek</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label"></span>
                                <span class="kt-widget__data kt-align-right"><small>(@Model.IdBankNavigation.NoRek)</small></span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Tanggal Bayar</span>
                                <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.TanggalValidasi)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="kt-portlet">
            <!--begin: Portlet Head-->
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <div class="kt-portlet__head-title">
                        <h3 class="kt-portlet__head-title">
                            Data STS
                        </h3>
                    </div>
                </div>
            </div>
            <!--end: Portlet Head-->
            <!--begin: Portlet Body-->
            <div class="kt-portlet__body">
                <div class="table-responsive">
                    <table id="tbl_sts" class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nomor</th>
                                <th>Kode Rekening</th>
                                <th>Jenis</th>
                                <th>Tanggal</th>
                                <th>Setoran</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!--end: Portlet Body-->
            <div class="kt-portlet__foot">
                <div class="kt-form__actions kt-align-right">
                    <a asp-action="Index" class="btn btn-secondary">Kembali</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        Get_STS();

        // LOAD DATA STS
        function Get_STS() {
            $("#tbl_sts tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '/STS/GetSTSDetail',
                dataType: 'json',
                data: { id: '@Model.IdSts', jenis: "@Model.Keterangan" },
                success: function (data) {
                    var no = 0;
                    $.each(data, function (i, item) {
                        no += 1;
                        var rows = "<tr>"
                            + "<td>" + no + "</td>"
                            + "<td>" + item.no + "</td>"
                            + "<td>" + item.kode + "</td>"
                            + "<td>" + item.uraian + "</td>"
                            + "<td>" + item.tanggal + "</td>"
                            + "<td nowrap>" + item.jumlah + "</td>"
                            + "</tr>";
                        $('#tbl_sts tbody').append(rows);
                    });
                },
                error: function () {
                    toastr.error("Error! Terjadi kesalahan!");
                }
            });
            return false;
        }
    </script>
}
