<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | NUNA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles -->
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles -->
    <link href="~/lib/fonts/base-fonts.css" rel="stylesheet">
    <link href="~/lib/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Page Style -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/print-list.css" rel="stylesheet" />
    
    @RenderSection("Style", required: false)
    <!--end::Page Style -->
    <!--begin::Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="~/media/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="~/media/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--end::Favicon -->



</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right">
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <!-- begin:: Content -->
                <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                        @RenderBody()
                        <div class="modal fade" id="minModal" role="dialog" aria-labelledby="" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div id='minModalContent'></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div id='myModalContent'></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="bigModal" role="document" aria-labelledby="" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div id='bigModalContent'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:: Content -->
            </div>
        </div>
    </div>
    <!-- end:: Page -->

    @RenderSection("FilterPanel", required: false)

    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle -->
    <script src="~/lib/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/js/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts -->
    <script src="~/js/modals.js" type="text/javascript"></script>
    <script src="~/js/script.js" type="text/javascript"></script>
    <!--end::Page Scripts -->
    @RenderSection("Scripts", required: false)
</body>
<!-- end::Body -->
</html>