@model SIP.Models.Sptpd

    <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
        <div class="kt-portlet__head kt-ribbon @ViewBag.State kt-ribbon--left kt-ribbon--round">
            <div class="kt-ribbon__target" style="top: 10px; right: -2px;">@ViewBag.Status</div>
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Detail SPTPD
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-2">
                <div class="kt-widget__body">
                    <div class="kt-widget__item kt-padding-t-0">
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Jenis Pajak</span>
                            <span class="kt-widget__data kt-align-right">@Model.IdCoaNavigation.Uraian</span>
                        </div>
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">No. @(Model.Jabatan ? "Nota" : "SPTPD")</span>
                            <span class="kt-widget__data kt-align-right">@Model.NoSptpd</span>
                        </div>
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Tanggal</span>
                            <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.Tanggal)</span>
                        </div>
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Masa Pajak</span>
                            <span class="kt-widget__data kt-align-right">
                                @string.Format("{0:MMMM}", Model.MasaPajak1)
                                <small>(@string.Format("{0:dd MMM yyyy}", Model.MasaPajak1) - @string.Format("{0:dd MMM yyyy}", Model.MasaPajak2))</small>
                            </span>
                        </div>
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Jenis</span>
                            <span class="kt-widget__data kt-align-right">
                                @if (Model.Jabatan)
                                {
                                    <span><span class="kt-badge kt-badge--warning kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-warning">Official</span></span>
                                }
                                else
                                {
                                    <span><span class="kt-badge kt-badge--success kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-success">Self Assessment</span></span>
                                }
                            </span>
                        </div><div class="kt-separator kt-separator--space-sm"></div>
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Terhutang</span>
                            <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Terhutang)</span>
                        </div>
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Kredit</span>
                            <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.KreditPajak ?? 0)</span>
                        </div>
                        <div class="kt-widget__contact">
                            <span class="kt-widget__label">Sisa Hutang</span>
                            <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Terhutang - (Model.KreditPajak ?? 0))</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>