@model SIP.Models.Skpd

@{
    ViewBag.Title = "Detail SKPD";
    ViewBag.SubHeaderTitle = "SKPD";
    ViewBag.S1 = "Detail";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<div class="row justify-content-center">
    <div class="col-lg-3">
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head kt-ribbon @ViewBag.State kt-ribbon--left kt-ribbon--round">
                <div class="kt-ribbon__target" style="top: 10px; right: -2px;">@ViewBag.Status</div>
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Detail SKPD
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget kt-widget--user-profile-2">
                    <div class="kt-widget__body">
                        <div class="kt-widget__item kt-padding-t-0">
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Jenis Pajak</span>
                                <span class="kt-widget__data kt-align-right">@Model.IdSptpdNavigation.IdCoaNavigation.Uraian</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Nomor</span>
                                <span class="kt-widget__data kt-align-right">@Model.NoSkpd</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Tanggal</span>
                                <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.Tanggal)</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Jatuh Tempo</span>
                                <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.JatuhTempo)</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label"></span>
                                <span class="kt-widget__data kt-align-right">
                                    @if (Model.FlagValidasi)
                                    {
                                        <span><span class="kt-badge kt-badge--success kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-success">Valid</span></span>
                                    }
                                    else
                                    {
                                        <span><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Belum Valid</span></span>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Perhitungan
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item kt-padding-t-0">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Nomor SPTPD</span>
                                        <span class="kt-widget__data kt-align-right">@Model.IdSptpdNavigation.NoSptpd</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Tanggal SPTPD</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.IdSptpdNavigation.Tanggal)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item kt-padding-t-0">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Masa Pajak</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:MMMM yyyy}", Model.IdSptpdNavigation.MasaPajak1)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Jenis</span>
                                        <span><span class="kt-badge kt-badge--warning kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-warning">Official Assessment</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--space-sm "></div>
                @if (ViewBag.Reklame != null)
                {
                    foreach (var item in (List<PReklame>)ViewBag.Reklame)
                    {
                        <div class="row justify-content-around">
                            <div class="col-md-5">
                                <div class="kt-widget kt-widget--user-profile-2">
                                    <div class="kt-widget__body">
                                        <div class="kt-widget__item kt-padding-t-0">
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Jenis Reklame</span>
                                                <span class="kt-widget__data kt-align-right">@item.IdSptpdNavigation.IdCoaNavigation.Uraian </span>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Judul</span>
                                                <span class="kt-widget__data kt-align-right">@item.Judul </span>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Teks</span>
                                                <span class="kt-widget__data kt-align-right">@item.Teks </span>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Kelurahan</span>
                                                <span class="kt-widget__data kt-align-right">@item.IndKelurahan.Kelurahan </span>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Kecamatan</span>
                                                <span class="kt-widget__data kt-align-right">@item.IndKecamatan.Kecamatan </span>
                                            </div>
                                            @if (item.KelasJalan != null)
                                            {
                                                <div class="kt-widget__contact">
                                                    <span class="kt-widget__label">Kelas Jalan</span>
                                                    <span class="kt-widget__data kt-align-right">@item.KelasJalan </span>
                                                </div>
                                            }
                                            @if (item.Letak != null)
                                            {
                                                <div class="kt-widget__contact">
                                                    <span class="kt-widget__label">Letak Reklame</span>
                                                    <span class="kt-widget__data kt-align-right">@item.Letak </span>
                                                </div>
                                            }
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Reklame Produk</span>
                                                <span class="kt-widget__data kt-align-right">@(item.Produk.Contains("Non") ? "Tidak" : "Ya")</span>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Reklame Rokok</span>
                                                <span class="kt-widget__data kt-align-right">@(item.Rokok.Contains("Non") ? "Tidak" : "Ya")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="kt-widget kt-widget--user-profile-2">
                                    <div class="kt-widget__body">
                                        <div class="kt-widget__item kt-padding-t-0">
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Masa Pajak</span>
                                                <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMM yy}", item.TglPasang1) - @string.Format("{0:dd MMM yy}", item.TglPasang2)</span>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Ukuran</span>
                                                @if (item.P1 * item.L1 != 0)
                                                {
                                                    <span class="kt-widget__data kt-align-right">@item.L1 @ViewBag.Ukuran x @item.P1 @ViewBag.Ukuran = @(item.L1 * item.P1) @Html.Raw(ViewBag.UkuranL)</span>
                                                }
                                            </div>
                                            @if (item.P2 * item.L2 != 0)
                                            {
                                                <div class="kt-widget__contact">
                                                    <span class="kt-widget__label"></span>
                                                    <span class="kt-widget__data kt-align-right">@item.L2 @ViewBag.Ukuran x @item.P2 @ViewBag.Ukuran = @(item.L2 * item.P2) @Html.Raw(ViewBag.UkuranL)</span>
                                                </div>
                                            }
                                            @if (item.P4 * item.L4 != 0)
                                            {
                                                <div class="kt-widget__contact">
                                                    <span class="kt-widget__label"></span>
                                                    <span class="kt-widget__data kt-align-right">@item.L4 @ViewBag.Ukuran x @item.P4 @ViewBag.Ukuran = @(item.L4 * item.P4) @Html.Raw(ViewBag.UkuranL)</span>
                                                </div>
                                            }
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Luas</span>
                                                <span class="kt-widget__data kt-align-right">@item.Luas @Html.Raw(ViewBag.UkuranL)</span>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Tinggi</span>
                                                <span class="kt-widget__data kt-align-right">@item.Tinggi M</span>
                                            </div>
                                            @if (item.JumlahHari != null)
                                            {
                                                <div class="kt-widget__contact">
                                                    <span class="kt-widget__label">Jangka Waktu</span>
                                                    <span class="kt-widget__data kt-align-right">@item.JumlahHari @ViewBag.Hari</span>
                                                </div>
                                            }
                                            @if (item.JumlahDetik != null)
                                            {
                                                <div class="kt-widget__contact">
                                                    <span class="kt-widget__label">Durasi</span>
                                                    <span class="kt-widget__data kt-align-right">@item.JumlahDetik Detik</span>
                                                </div>
                                            }
                                            @if (item.Jumlah != null)
                                            {
                                                <div class="kt-widget__contact">
                                                    <span class="kt-widget__label">Jumlah</span>
                                                    <span class="kt-widget__data kt-align-right">@item.Jumlah @ViewBag.Jumlah</span>
                                                </div>
                                            }
                                            @if (item.NilaiKontrak != 0)
                                            {
                                                <div class="kt-widget__contact">
                                                    <span class="kt-widget__label">Nilai Kontrak</span>
                                                    <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", item.NilaiKontrak)</span>
                                                </div>
                                            }
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">NSR</span>
                                                <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", item.Nsr) @Html.Raw(ViewBag.Ukuran)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else if (ViewBag.AirTanah != null)
                {

                }

                <div class="kt-separator kt-separator--space-sm "></div>
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        @if (ViewBag.Reklame != null)
                        {
                            foreach (var item in (List<PReklame>)ViewBag.Reklame)
                            {
                                <div class="kt-widget kt-widget--user-profile-2">
                                    <div class="kt-widget__body">
                                        <div class="kt-widget__item">
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Dasar Pengenaan</span>
                                                <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", item.Dpp) </span>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Tarif</span>
                                                <span class="kt-widget__data kt-align-right">@string.Format("{0:N2}", item.IdSptpdNavigation.IdTarifNavigation.Tarif)% </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else if (ViewBag.AirTanah != null)
                        {

                        }
                    </div>
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Denda 2%/Bulan</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Bunga)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Kenaikan</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Kenaikan)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Terhutang</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Terhutang)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label"></span>
                                        <span class="kt-widget__data kt-align-right" id="terbilang"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions kt-align-right">
                    <a asp-action="SKPD" asp-controller="Penetapan" asp-route-id="@Model.IdSptpd" class="btn btn-secondary">Kembali</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/terbilang.js"></script>
    <script>
        document.getElementById("terbilang").innerHTML = (terbilang(@Math.Floor(Model.Terhutang ?? 0))) + "rupiah";
    </script>
}
