@model SIP.Models.DataUsaha

<div class="kt-portlet kt-portlet--tabs">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <ul class="nav nav-tabs nav-tabs-bold nav-tabs-line   nav-tabs-line-right nav-tabs-line-brand" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#portlet_tab_usaha" role="tab">
                        Data Usaha
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active" id="portlet_tab_subjek">
                <div class="kt-widget kt-widget--user-profile-2">
                    <div class="kt-widget__body">
                        <div class="kt-widget__item">
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Nama:</span>
                                <span class="kt-widget__data kt-align-right">@Model.NamaUsaha</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Jenis:</span>
                                <span class="kt-widget__data kt-align-right">@Model.IdJenisNavigation.Usaha</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Alamat:</span>
                                <span class="kt-widget__data kt-align-right">@Model.AlamatUsaha RT. @Model.Rtrw</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label"></span>
                                <span class="kt-widget__data kt-align-right">Kec. @Model.IndKecamatan.Kecamatan</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label"></span>
                                <span class="kt-widget__data kt-align-right">Kel. @Model.IndKelurahan.Kelurahan</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">No Telepon:</span>
                                <span class="kt-widget__data kt-align-right">@(Model.NoTelp ?? "-")</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Status:</span>
                                @if (Model.Status == true)
                                {
                                    <span class="kt-widget__data kt-align-right"><span class="kt-badge kt-badge--success kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-success">Aktif</span></span>
                                }
                                else
                                {
                                    <span class="kt-widget__data kt-align-right"><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Non Aktif</span></span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>