@model IEnumerable<SIP.Models.Skrd>

@{
    ViewBag.SubHeaderTitle = "SKRD";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<div class="row justify-content-center">
    <div class="col-lg-10">
        <!--begin::Portlet-->
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.Title
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-group">
                        <a href="javascript:;" onclick="ShowModal();" class="btn btn-bold btn-label-success btn-sm"><i class="la la-plus-circle"></i> Tambah Data</a>
                        <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right kt-margin-t-10 kt-margin-b-10 kt-margin-5-mobile">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                <div class="col-sm-2 col-1 kt-margin-b-10-mobile order-2 order-sm-1 length">
                                    <div class="kt-form__group">
                                        <select class="form-control kt-selectpicker" id="length">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-auto order-3 order-sm-2 kt-margin-b-10-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Search..." id="search">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover dt-custom" id="m_table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>
                                Nama WP
                            </th>
                            <th>
                                Masa Retribusi
                            </th>
                            <th>
                                No SKRD
                            </th>
                            <th>
                                Tanggal SKRD
                            </th>
                            <th>
                                Terhutang
                            </th>
                            <th>
                                Validasi
                            </th>
                            <th>
                                Validasi
                            </th>
                            <th>
                                Kelola
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td></td>
                            <td>
                                @Html.DisplayFor(model => item.IdSubjekNavigation.Nama)
                            </td>
                            <td>
                                @String.Format("{0:MMMM yyyy}", item.MasaRetribusi1)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.NoSkrd)
                            </td>
                            <td>
                                @String.Format("{0:dd MMMM yyyy}", item.TanggalSkrd)
                            </td>
                            <td>
                                @String.Format("{0:C0}", item.Terhutang)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.FlagValidasi)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.FlagValidasi)
                            </td>
                            <td nowrap>
                                <span style="overflow: visible; position: relative;">
                                    <span class="dropdown">
                                        <a href="#" class="btn btn-sm btn-label-success" data-toggle="dropdown" aria-expanded="false"> Kelola</a>
                                        <span class="dropdown-menu dropdown-menu-right">
                                            <a asp-action="Details" asp-route-id="@item.IdSkrd" class="dropdown-item"><i class="la la-external-link-square"></i> Detail SKRD </a>
                                            @if (item.FlagValidasi == false)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.IdSkrd" class="dropdown-item"><i class="la la-edit"></i> Edit </a>
                                                <a asp-action="Data" asp-route-id="@item.IdSkrd" class="dropdown-item"><i class="la la-list"></i> Edit Detail </a>
                                                <a asp-action="Validasi" asp-route-id="@item.IdSkrd" class="dropdown-item"><i class="la la-check-circle"></i> Validasi SKRD </a>
                                                <a mini-modal asp-action="Delete" asp-route-id="@item.IdSkrd" class="dropdown-item"><i class="la la-trash-o"></i> Hapus </a>
                                            }
                                            else
                                            {
                                                if (item.Ssrd.FirstOrDefault() == null)
                                                {
                                                    <a asp-action="Validasi" asp-route-id="@item.IdSkrd" class="dropdown-item"><i class="la la-times-circle"></i> Batalkan Validasi </a>
                                                }
                                                <a asp-action="Cetak" asp-route-id="@item.IdSkrd" class="dropdown-item"><i class="la la-print"></i> Cetak </a>
                                            }
                                        </span>
                                    </span>
                                </span>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

<div class="modal fade" id="BigModal" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-auto order-3 order-sm-2 kt-margin-b-10-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Search..." id="searchSubjek">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <table id="dataSubjek" class="table table-hover dt-custom table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>
                                        Nama
                                    </th>
                                    <th>
                                        NIK/NPWP
                                    </th>
                                    <th>
                                        NPWRD
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function ShowModal() {
            $("#BigModal").modal();
        };

        var DatatablesBasicScrollable = function () {
            var initTable = function () {
                var table = $('#m_table');
                table.DataTable({
                    searching: true,
                    bJQueryUI: true,
                    bFilter: true,
                    dom: "<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    scrollY: '60vh',
                    scrollX: true,
                    scrollCollapse: true,
                    columnDefs: [
                        {
                            targets: 0,
                            orderable: false,
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        }, {
                            targets: -1,
                            width: 100,
                            className: "dt-center"
                        }, {
                            targets: 7,
                            visible: false
                        }, {
                            targets: 6,
                            render: function (data, type, full, meta) {
                                var status = {
                                    "0": {
                                        'title': 'Belum valid',
                                        'state': 'danger'
                                    },
                                    "1": {
                                        'title': 'Valid',
                                        'state': 'success'
                                    }
                                };
                                if (typeof status[data] === 'undefined') {
                                    return data;
                                }
                                return '<span class="kt-badge kt-badge--' + status[data].state + ' kt-badge--dot"></span>&nbsp;' +
                                    '<span class="kt-font-bold kt-font-' + status[data].state + '">' + status[data].title + '</span>';
                            }
                        }]
                });

                $('#length').on('change', function () {
                    var selectedValue = $(this).val();
                    $('#m_table').DataTable().page.len(selectedValue).draw();
                });


                $("#search").on('keyup', function () {
                    $('#m_table').dataTable().fnFilter(this.value);
                });

                $('.dataTables_scrollBody').css('min-height', '150px');
            };

            return {
                init: function () {
                    initTable();
                },
            };

        }();

         var DatatablesAjaxServer = function () {

            var initTable1 = function () {
                var table = $('#dataSubjek');

                table.DataTable({
                    responsive: true,
                    searchDelay: 500,
                    processing: true,
                    serverSide: true,
                    searching: true,
                    bJQueryUI: true,
                    bFilter: true,
                    bSort: true,
                    dom: "<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'>>",
                    "ajaxSource": "/AjaxData/GetSubjekRetribusi",
                    fnServerData: function (sSource, aoData, fnCallback) {
                        aoData.push({ "name": "all", "value": true });
                        $.getJSON(sSource, aoData, function (json) {
                            fnCallback(json)
                        });
                    },
                    columns: [
                        { data: 'id' },
                        { data: 'nama' },
                        { data: 'nik' },
                        { data: 'npwpd' },
                        { data: 'status' },
                        { data: 'id' },
                    ],
                    columnDefs: [
                        {
                            targets: -1,
                            title: '',
                            orderable: false,
                            render: function (data, type, full, meta) {
                                return `<a href="/SKRD/Create/` + data + `/` + "@ViewBag.IdCoa" + ` " class="btn btn-sm btn-label-success">Pilih <i class="la la-arrow-circle-right"></i></a>`;
                            },
                        },{
                            targets: 2,
                            orderable: false,
                            render: function (data, type, full, meta) {
                                if (full['nik'] != null) {
                                    return full['nik'];
                                }
                                else {
                                    return full['npwp'];
                                }
                            }
                        },{
                            targets: 4,
                            render: function (data, type, full, meta) {
                                var status = {
                                    "0": {
                                        'title': 'Non Aktif',
                                        'state': 'danger'
                                    },
                                    "1": {
                                        'title': 'Aktif',
                                        'state': 'success'
                                    }
                                };
                                if (typeof status[data] === 'undefined') {
                                    return data;
                                }
                                return '<span class="kt-badge kt-badge--' + status[data].state + ' kt-badge--dot"></span>&nbsp;' +
                                    '<span class="kt-font-bold kt-font-' + status[data].state + '">' + status[data].title + '</span>';
                            }
                        }
                    ],
                });

                table.DataTable().on('order.dt search.dt', function () {
                    table.DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                        table.DataTable().cell(cell).invalidate('dom');
                    });
                }).draw();

                $("#searchSubjek").on('keyup', function () {
                    table.dataTable().fnFilter(this.value);
                });
            };

            return {
                init: function () {
                    initTable1();
                },
            };

        }();

        jQuery(document).ready(function () {
            DatatablesBasicScrollable.init();
            DatatablesAjaxServer.init();
        });

    </script>
}
