@model SIP.Models.Pegawai
@using SIP.ViewModels

@{
    ViewBag.SubHeaderTitle = "Akses Modul";
    ViewBag.S1 = "Ubah Akses";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

    <div class="row justify-content-center">
        <div class="col-lg-3">
            <!--begin::Portlet-->
            <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Detail Pegawai
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget kt-widget--user-profile-2">
                        <div class="kt-widget__body">
                            <div class="kt-widget__item kt-padding-t-0">
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Nama</span>
                                    <span class="kt-widget__data kt-align-right">@Model.Nama</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">NIP</span>
                                    <span class="kt-widget__data kt-align-right">@Model.Nip</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Jabatan:</span>
                                    <span class="kt-widget__data kt-align-right">@Model.IdJabatanNavigation.Jabatan</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Email:</span>
                                    <span class="kt-widget__data kt-align-right">@Model.Email</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label"></span>
                                    <span class="kt-widget__data kt-align-right">
                                        @if (Model.Active)
                                        {
                                            <span><span class="kt-badge kt-badge--success kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-success">Aktif</span></span>
                                        }
                                        else
                                        {
                                            <span><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Tidak Aktif</span></span>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-6">
            <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            @ViewBag.Title
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-group">
                            <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        @foreach (var item in (List<AspNetRoles>)ViewBag.Roles)
                        {
                            <div class="col-md-3 form-group">
                                <div class="kt-checkbox-list">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" id="R_@item.Id" name="R_@item.Id" /> @item.Name
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-align-right">
                        <a asp-action="Modul" class="btn btn-secondary">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    <script>

        jQuery(document).ready(function () {
            Load_Roles();
        });
        
        function Load_Roles() {
            $.ajax({
                type: 'POST',
                url: '/Roles/LoadRoles/',
                dataType: 'json',
                data: { id: "@ViewBag.IdUser" },
                success: function (data) {
                    $.each(data, function (i, item) {
                    var IdRole = "R_" + item.idrole;
                        document.getElementById(IdRole).checked = true;
                    });
                },
                error: function () {
                    toastr.error("Error! Terjadi kesalahan!");
                }
            });
            return false;
        }

        $(function () {
            $('input').on('click', function () {
                var RawId = event.srcElement.id;
                var Checked = document.getElementById(RawId).checked;
                var IdRole = RawId.replace('R_', '');
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '/Roles/ChangeRoles/',
                        data: {
                            role: IdRole,
                            user: "@ViewBag.IdUser",
                            check: Checked
                        },
                        success: function () {
                            //Load_Users();
                        },
                        error: function () {
                            toastr.error("Error! Terjadi kesalahan!");
                        }
                    });
            });
        });
    </script>
}