@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;
    ViewBag.Ctrl = "";
    ViewBag.Act = "";
}

<html lang="en" class="dark-mode">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | SIP</title>
    <meta name="description" content="Updates and statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <script>
        if (performance.navigation.type == 2) {
            location.reload(true);
        }
    </script>
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles -->
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles -->
    <link href="~/lib/fonts/base-fonts.css" rel="stylesheet">
    <link href="~/lib/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins -->
    <link href="~/css/base/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <!--<link href="~/css/base/skins/header/menu/dark.css" rel="stylesheet" type="text/css" /> -->
    <link href="~/css/base/skins/brand/light.css" rel="stylesheet" type="text/css" />
    <link href="~/css/base/skins/aside/light.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->
    <!--begin::Page Style -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <!--end::Page Style -->
    <!--begin::Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="~/media/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="~/media/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--end::Favicon -->

    @RenderSection("Style", required: false)

</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading @(HttpContextAccessor.HttpContext.Session.GetString("Menu") ?? "kt-aside--minimize")">

    <!-- begin:: Page -->
    <partial name="_header-base-mobile" />
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <partial name="_aside-identity" />
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <partial name="_header-base" />
                <!-- begin:: Content -->
                <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                    <partial name="_subheader" />
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <partial name="_ManageNav" />
                            </div>
                            <div class="col-lg-8">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:: Content -->
                <partial name="_footer-base" />
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    @*<partial name="_layout-quick-panel" />*@
    <partial name="_layout-scrolltop" />
    @*<partial name="_layout-toolbar" />*@

    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle -->
    <script src="~/lib/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/js/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts -->
    <script src="~/js/script.js" type="text/javascript"></script>
    <!--end::Page Scripts -->
    @RenderSection("Scripts", required: false)
    <script>

        var status = "@TempData["status"]";
        if (status == "login") {
            toastr.success("Login Berhasil!");
        }
        else if (status == "edit") {
            toastr.success("Data Berhasil Diedit!");
        }
        else if (status == "ubahpassword") {
            toastr.success("Password Berhasil Diubah!");
        }
        else if (status == "salah") {
            toastr.error("Terjadi Kesalahan!");
        }

        $('#kt_aside_toggler').click(function () {
            var menu;
            if ($("body").hasClass("kt-aside--minimize")) {
                menu = "kt-aside--minimize";
            }
            else {
                menu = "head";
            }
            $.ajax({
                type: 'POST',
                url: '/AjaxData/Menu',
                dataType: 'json',
                data: {
                    id: menu
                }
            });
        });

    </script>
</body>
<!-- end::Body -->
</html>
