@model SIP.Models.Ssrdr

@{
    ViewBag.Title = "Edit Detail SSRDR";
    ViewBag.SubHeaderTitle = "SSRDR";
    ViewBag.S1 = "Edit Detail SSRDR";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
    var no = 0;
}

<div class="row justify-content-center">
    <div class="col-lg-3">
        <!--begin::Portlet-->
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head kt-ribbon @ViewBag.State kt-ribbon--left kt-ribbon--round">
                <div class="kt-ribbon__target" style="top: 10px; right: -2px;">@ViewBag.Status</div>
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.Title
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget kt-widget--user-profile-2">
                    <div class="kt-widget__body">
                        <div class="kt-widget__item kt-padding-t-0">
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Nama</span>
                                <span class="kt-widget__data kt-align-right">@Model.Nama</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">NPWRD</span>
                                <span class="kt-widget__data kt-align-right">@Model.Nik</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Jenis Reribusi</span>
                                <span class="kt-widget__data kt-align-right">@Model.IdCoaNavigation.Uraian</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">No. SKRD</span>
                                <span class="kt-widget__data kt-align-right">@Model.NoSsrdr</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Tanggal:</span>
                                <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.Tanggal)</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Terhutang:</span>
                                <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Total)</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label"></span>
                                <span class="kt-widget__data kt-align-right">
                                    @if (Model.TanggalValidasi != null)
                                    {
                                        <span><span class="kt-badge kt-badge--success kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-success">Valid</span></span>
                                    }
                                    else
                                    {
                                        <span><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Belum Valid</span></span>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
    <div class="col-lg-7">
        <!--begin::Portlet-->
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Detail SSRDR
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-group">
                        <a data-modal asp-action="Create" asp-controller="SSRDRDetail" asp-route-id="@Model.IdSsrdr" class="btn btn-bold btn-label-brand btn-sm"><i class="la la-plus"></i> Tambah Data</a>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-striped table-hover dt-custom" id="m_table">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Objek
                            </th>
                            <th>
                                Jumlah
                            </th>
                            <th>
                                Tarif
                            </th>
                            <th>
                                Total
                            </th>
                            <th>Kelola</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in (List<SsrdrDt>)ViewBag.Detail)
                        {
                            <tr>
                                <td>@(no += 1)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdTarifNavigation.Objek)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Jumlah) / @Html.DisplayFor(modelItem => item.IdTarifNavigation.Satuan1)
                                </td>
                                <td>
                                    @string.Format("{0:C0}", item.IdTarifNavigation.Tarif)
                                </td>
                                <td>
                                    @string.Format("{0:C0}", item.Total)
                                </td>
                                <td nowrap>
                                    <a data-modal asp-controller="SSRDRDetail" asp-action="Edit" asp-route-id="@item.IdSsrdrDt" class="btn btn-sm btn-label-success btn-icon btn-icon-md" title="Edit"><i class="la la-edit"></i></a>
                                    <a mini-modal asp-controller="SSRDRDetail" asp-action="Delete" asp-route-id="@item.IdSsrdrDt" class="btn btn-sm btn-label-danger btn-icon btn-icon-md" title="Hapus"><i class="la la-trash-o"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions kt-align-right">
                    <a href="/SSRDR/@Model.IdCoa" class="btn btn-secondary">Kembali</a>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section Scripts {
    <script>
        $("#myModal").on("shown.bs.modal", function () {
            $("#IdTarif").on("changed.bs.select", function () {
                DropSatuan(this.value);
            });
        });

        function DropSatuan(id) {
            $.ajax({
                type: 'POST',
                url: '/AjaxData/DropSatuanRetribusi',
                dataType: 'json',
                data: { id },
                success: function (data) {
                    $.each(data, function (i, item) {
                        document.getElementById("satuan").innerHTML = item.satuan;
                    });
                }
            });
            return false;
        }
    </script>
}
