@model SIP.Models.Pemda

@{
    ViewBag.SubHeaderTitle = "Data Pemda";
    ViewBag.S1 = "Edit Data";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <!--begin::Portlet-->
            <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            @ViewBag.Title
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-group">
                            <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <input type="hidden" asp-for="IdPemda" />
                    <input type="hidden" asp-for="FlagAktif" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label asp-for="Logo" class="control-label required"></label>
                            <div></div>
                            <div class="custom-file">
                                <input asp-for="Logo" class="custom-file-input" type="file" />
                                <label class="custom-file-label" asp-for="Logo">Pilih file</label>
                            </div>
                            <span asp-validation-for="Logo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label asp-for="NamaPemda" class="control-label required">Nama Pemda</label>
                            <input asp-for="NamaPemda" class="form-control" required />
                            <span asp-validation-for="NamaPemda" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label asp-for="NamaOpd" class="control-label required">Nama OPD</label>
                            <input asp-for="NamaOpd" class="form-control" required />
                            <span asp-validation-for="NamaOpd" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 form-group">
                            <label asp-for="Alamat" class="control-label required"></label>
                            <input asp-for="Alamat" class="form-control" required />
                            <span asp-validation-for="Alamat" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <label asp-for="IndProvinsiId" class="control-label required">Provinsi</label>
                            <select asp-for="IndProvinsiId" data-size="6" title="Pilih Provinsi..." data-live-search="true" asp-items="ViewBag.IndProvinsiId" required class="form-control kt-selectpicker"></select>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label asp-for="IndKabKotaId" class="control-label required">Kabupaten/Kota</label>
                            <select asp-for="IndKabKotaId" data-size="6" title="Pilih Kab/Kota..." data-live-search="true" asp-items="ViewBag.IndKabKotaId" required class="form-control kt-selectpicker"></select>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label asp-for="IndKecamatanId" class="control-label required">Kecamatan/Distrik</label>
                            <select asp-for="IndKecamatanId" data-size="6" title="Pilih Kecamatan..." data-live-search="true" asp-items="ViewBag.IndKecamatanId" required class="form-control kt-selectpicker"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <label asp-for="IndKelurahanId" class="control-label required">Kelurahan/Desa</label>
                            <select asp-for="IndKelurahanId" data-size="6" title="Pilih Kelurahan..." data-live-search="true" asp-items="ViewBag.IndKelurahanId" required class="form-control kt-selectpicker"></select>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label asp-for="KodePos" class="control-label">Kode Pos</label>
                            <input asp-for="KodePos" class="form-control" />
                            <span asp-validation-for="KodePos" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <label asp-for="Telp" class="control-label">Nomor Telepon</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                <input asp-for="Telp" class="form-control" autocomplete="off" />
                            </div>
                            <span asp-validation-for="Telp" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label asp-for="Telp2" class="control-label">Nomor Telepon 2</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                <input asp-for="Telp2" class="form-control" autocomplete="off" />
                            </div>
                            <span asp-validation-for="Telp2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-align-right">
                        <a asp-action="Index" class="btn btn-secondary">Kembali</a>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</form>

@section Scripts {
    <script>
    var Inputmask = {
        init: function () {
            $("#KodePos").inputmask({
                mask: "999999",
                placeholder: ""
            }), $("#Telp").inputmask({
                mask: "999999999999",
                placeholder: ""
            }), $("#Telp2").inputmask({
                mask: "999999999999",
                placeholder: ""
            })
        }
    };
    jQuery(document).ready(function () {
        Inputmask.init()
    });

    function ShowLoading() {
        KTApp.blockPage({
            overlayColor: "#000000",
            type: "loader",
            state: "success",
            message: "Loading..."
        })
    }

    //$("#IndKabKotaId").prop('disabled', true);
    //$("#IndKecamatanId").prop('disabled', true);
    //$("#IndKelurahanId").prop('disabled', true);
    //Drop_Provinsi();

    $(function () {
        $("#IndProvinsiId").on("changed.bs.select", function (e) {
            $('#IndKecamatanId option').prop("selected", false).trigger('change');
            $('#IndKelurahanId option').prop("selected", false).trigger('change');
            Drop_Kota(this.value);
        });
        $("#IndKabKotaId").on("changed.bs.select", function (e) {
            $('#IndKelurahanId option').prop("selected", false).trigger('change');
            Drop_Kecamatan(this.value);
        });
        $("#IndKecamatanId").on("changed.bs.select", function (e) {
            Drop_Kelurahan(this.value);
        });
    });

    // LOAD DROPDOWN PROVINSI
    function Drop_Provinsi() {
    var sel = $("#IndProvinsiId");
    $.ajax({
        type: 'POST',
        url: '@Url.Action("DropProvinsi", "AjaxData")',
        dataType: 'json',
        data: { },
        success: function (data) {
            sel.append('<option hidden>Pilih Provinsi...</option>');
            $.each(data, function (i, item) {
                var option =
                    '<option value="' + item.id + '">' + item.uraian + '</option>';
                sel.append(option);
            });
        },
        complete: function(data) {
            $.unblockUI();
        }
    });
    return false;
    }

    // LOAD DROPDOWN KOTA
    function Drop_Kota(id) {
        $("#IndKabKotaId option").remove();
        var sel = $("#IndKabKotaId");
    $.ajax({
        type: 'POST',
        url: '@Url.Action("DropKota", "AjaxData")',
        dataType: 'json',
        data: { id },
        success: function (data) {
            sel.removeAttr("disabled")
            sel.append('<option hidden>Pilih Kab/Kota...</option>');
            $.each(data, function(i, item) {
                var option =
                    '<option value="' + item.id + '">' + item.uraian + '</option>';
                $("#IndKabKotaId").append(option);
            });
            $('#IndKabKotaId').selectpicker('refresh');
        },
        complete: function(data) {
            $.unblockUI();
        }
    });
    return false;
    }

    // LOAD DROPDOWN KECAMATAN
    function Drop_Kecamatan(id) {
    ShowLoading();
    $("#IndKecamatanId option").remove();
    var sel = $("#IndKecamatanId");
    $.ajax({
        type: 'POST',
        url: '@Url.Action("DropKecamatan", "AjaxData")',
        dataType: 'json',
        data: { id },
        success: function(data) {
            sel.removeAttr("disabled")
            sel.append('<option hidden>Pilih Kecamatan...</option>');
            $.each(data, function(i, item) {
                var option =
                    '<option value="' + item.id + '">' + item.uraian + '</option>';
                sel.append(option);
            });
            $('#IndKecamatanId').selectpicker('refresh');
        },
        complete: function(data) {
            $.unblockUI();
        }
    });
    return false;
    }

    // LOAD DROPDOWN KELURAHAN
    function Drop_Kelurahan(id) {
    ShowLoading();
    $("#IndKelurahanId option").remove();
    var sel = $("#IndKelurahanId");
    $.ajax({
        type: 'POST',
        url: '@Url.Action("DropKelurahan", "AjaxData")',
        dataType: 'json',
        data: { id },
        success: function(data) {
            sel.removeAttr("disabled")
            sel.append('<option hidden>Pilih Kelurahan...</option>');
            $.each(data, function(i, item) {
                var option =
                    '<option value="' + item.id + '">' + item.uraian + '</option>';
                sel.append(option);
            });
            $('#IndKelurahanId').selectpicker('refresh');
        },
        complete: function(data) {
            $.unblockUI();
        }
    });
    return false;
    }
            </script>
        }
