@model IEnumerable<SIP.Models.Sptpd>

@{
    ViewBag.SubHeaderTitle = "Kewajiban Pajak";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<div class="row justify-content-center">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.Title
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-group">
                        <span style="overflow: visible; position: relative;">
                            <span class="dropdown">
                                <a href="#" class="btn btn-sm m-btn btn-info" data-toggle="dropdown" aria-expanded="false"><i class="la la-pencil-square"></i> Lapor Pajak </a>
                                <span class="dropdown-menu dropdown-menu-right">
                                    <a asp-action="Create" asp-route-id="@ViewBag.IdSptpd" asp-route-jabatan="false" class="dropdown-item"> SPTPD</a>
                                    <a asp-action="Create" asp-route-id="@ViewBag.IdSptpd" asp-route-jabatan="true" class="dropdown-item"> Nota Jabatan</a>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right kt-margin-t-10 kt-margin-b-10 kt-margin-5-mobile">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                <div class="col-sm-2 col-1 kt-margin-b-10-mobile order-2 order-sm-1 length">
                                    <div class="kt-form__group">
                                        <select class="form-control kt-selectpicker" id="length">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-auto order-3 order-sm-2 kt-margin-b-10-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Search..." id="search">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12 order-1 order-sm-3 kt-margin-b-10-mobile">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label">
                                            <label>Validasi:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control kt-selectpicker" id="status">
                                                <option value=" ">Semua</option>
                                                <option value="1">Valid</option>
                                                <option value="0">Belum Valid</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12 order-1 order-sm-3 kt-margin-b-10-mobile">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label">
                                            <label>Status:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control kt-selectpicker" id="type">
                                                <option value=" ">Semua</option>
                                                <option value="0">Belum Bayar</option>
                                                <option value="1">Lunas</option>
                                                <option value="2">Kurang Bayar</option>
                                                <option value="3">Lebih Bayar</option>
                                                <option value="4">SKPD</option>
                                                <option value="5">SKPDKB</option>
                                                <option value="6">SKPDKBT</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover dt-custom" id="m_table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>
                                No. SPTPD
                            </th>
                            <th>
                                Tanggal SPTPD
                            </th>
                            <th>
                                Masa Pajak
                            </th>
                            <th>
                                Validasi
                            </th>
                            <th>
                                Validasi
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Terhutang)
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Status
                            </th>
                            <th>Kelola</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(s => s.FlagKonfirmasi))
                        {
                            var jenis = "";
                            if (item.Jabatan) { jenis = "Nota Jabatan"; }
                            else { jenis = "SPTPD"; }
                            <tr>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoSptpd)
                                </td>
                                <td>
                                    @string.Format("{0:dd MMMM yyyy}", item.Tanggal)
                                </td>
                                <td>
                                    @string.Format("{0:MMMM yyyy}", item.MasaPajak1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FlagValidasi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FlagValidasi)
                                </td>
                                <td>
                                    Rp. @string.Format("{0:N0}", item.Terhutang)
                                </td>
                                @if (item.Sk == "SKPD")
                                {
                                    <td>4</td>
                                    <td>4</td>
                                }
                                else if (item.Sk == "SKPDKB")
                                {
                                    <td>5</td>
                                    <td>5</td>
                                }
                                else if (item.Sk == "SKPDKBT")
                                {
                                    <td>6</td>
                                    <td>6</td>
                                }
                                else
                                {
                                    <td>@Html.DisplayFor(modelItem => item.Keterangan)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Keterangan)</td>
                                }
                                <td nowrap>
                                    <span style="overflow: visible; position: relative;">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-label-success" data-toggle="dropdown" aria-expanded="false"> Kelola</a>
                                            <span class="dropdown-menu dropdown-menu-right">
                                                <a asp-action="Details" asp-route-id="@item.IdSptpd" class="dropdown-item"><i class="la la-external-link-square"></i> Detail @jenis</a>
                                                @if (item.FlagValidasi == false)
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.IdSptpd" class="dropdown-item"><i class="la la-edit"></i> Edit @jenis</a>
                                                    <a asp-action="Validasi" asp-route-id="@item.IdSptpd" class="dropdown-item"><i class="la la-check-circle"></i> Validasi @jenis</a>
                                                    <a mini-modal="" asp-action="Delete" asp-route-id="@item.IdSptpd" class="dropdown-item"><i class="la la-trash-o"></i> Hapus @jenis</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="Validasi" asp-route-id="@item.IdSptpd" class="dropdown-item"><i class="la la-times-circle"></i> Batalkan Validasi @jenis</a>
                                                }
                                                <a asp-action="Cetak" asp-route-id="@item.IdSptpd" class="dropdown-item"><i class="la la-print"></i> Cetak @jenis</a>
                                            </span>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section Scripts {
    <script>
        var DatatablesBasicScrollable = function () {
            var initTable = function () {
                var table = $('#m_table');
                table.DataTable({
                    searching: true,
                    bJQueryUI: true,
                    bFilter: true,
                    dom: "<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    scrollY: '60vh',
                    scrollX: true,
                    scrollCollapse: true,
                    columnDefs: [{
                        targets: 0,
                        width: 15,
                        className: "dt-center"
                    }, {
                        targets: -1,
                        width: 100,
                        className: "dt-center"
                    },{
                        targets: 5,
                        visible: false
                    }, {
                        targets: 4,
                        render: function (data, type, full, meta) {
                            var status = {
                                "0": {
                                    'title': 'Belum Valid',
                                    'state': 'danger'
                                },
                                "1": {
                                    'title': 'Valid',
                                    'state': 'success'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="kt-badge kt-badge--' + status[data].state + ' kt-badge--dot"></span>&nbsp;' +
                                '<span class="kt-font-bold kt-font-' + status[data].state + '">' + status[data].title + '</span>';
                        }
                    },{
                        targets: 8,
                        visible: false
                    }, {
                        targets: 7,
                        render: function (data, type, full, meta) {
                            var status = {
                                '0': {
                                    'title': 'Belum Bayar',
                                    'state': 'danger'
                                },
                                '1': {
                                    'title': 'Lunas',
                                    'state': 'success'
                                },
                                '2': {
                                    'title': 'Kurang Bayar',
                                    'state': 'warning'
                                },
                                '3': {
                                    'title': 'Lebih Bayar',
                                    'state': 'primary'
                                },
                                '4': {
                                    'title': 'SKPD',
                                    'state': 'info'
                                },
                                '5': {
                                    'title': 'SKPDKB',
                                    'state': 'info'
                                },
                                '6': {
                                    'title': 'SKPDKBT',
                                    'state': 'info'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="kt-badge kt-badge--' + status[data].state + ' kt-badge--dot"></span>&nbsp;' +
                                '<span class="kt-font-bold kt-font-' + status[data].state + '">' + status[data].title + '</span>';
                        }
                    }]
                });

                $('#m_table').DataTable().on('order.dt search.dt', function () {
                    $('#m_table').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                        $('#m_table').DataTable().cell(cell).invalidate('dom');
                    });
                }).draw();

                $('#length').on('change', function () {
                    var selectedValue = $(this).val();
                    $('#m_table').DataTable().page.len(selectedValue).draw();
                });

                $('#status').on('change', function () {
                    var selectedValue = $(this).val();
                    table.dataTable().fnFilter("^" + selectedValue + "$", 5, true); //Exact value, column, reg
                });

                $('#type').on('change', function () {
                    var selectedValue = $(this).val();
                    table.dataTable().fnFilter("^" + selectedValue + "$", 8, true); //Exact value, column, reg
                });

                $("#search").on('keyup', function () {
                    $('#m_table').dataTable().fnFilter(this.value);
                });

                $('.dataTables_scrollBody').css('min-height', '150px');
            };

            return {
                init: function () {
                    initTable();
                },
            };

        }();

        jQuery(document).ready(function () {
            DatatablesBasicScrollable.init();
        });

    </script>
}





