@model SIP.Models.Fiskal

@{
    Layout = null;
}

    <html lang="id">

    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/css/print-style.css" rel="stylesheet" />
        <link href="~/css/reporting/sptpd.css" rel="stylesheet" />

        <!--begin::Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="~/media/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon/favicon-16x16.png">
        <link rel="shortcut icon" href="~/media/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="msapplication-config" content="~/media/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!--end::Favicon -->
    </head>
    <body>
        <div style="width: 100%;">
            <div align="center">
                <table width="100%" cellspacing="0" cellpadding="0" style="width: 800px;" class="report">
                    <tr>
                        <td><img class="logo" src="~/media/logos/logo.png" /></td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table-borderless" width="100%" style="margin-top: 5px; font-size: 18px;">
                                <tr class="header">
                                    <td align="center" style="font-weight: 600"><span style="text-transform:uppercase;">@Context.Session.GetString("NamaPemda")</span></td>
                                </tr>
                                <tr class="header">
                                    <td align="center" valign="top" style="font-weight: 600">@Context.Session.GetString("Opd")</td>
                                </tr>
                                <tr class="header">
                                    <td align="center" valign="top" style=font-size: 16px;">@Context.Session.GetString("Alamat")</td>
                                </tr>
                                <tr>
                                    <td height="10px"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%">
                                <tr style="border-top: double #000">
                                    <td colspan="4" width="100%" style="font-size: 16px; padding: 20px 0 10px 0" align="center">
                                        <span style="font-weight: 600">SURAT KETERANGAN FISKAL</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" style="font-size: 14px;" align="center"></td>
                                    <td width="20%" style="font-size: 14px;" align="left">Nomor</td>
                                    <td width="40%" style="font-size: 14px;" align="left"> : @Model.NoFiskal</td>
                                    <td width="20%" style="font-size: 14px;" align="center"></td>
                                </tr>
                                <tr>
                                    <td width="30%" style="font-size: 14px;" align="center"></td>
                                    <td width="10%" style="font-size: 14px;" align="left">Tanggal</td>
                                    <td width="40%" style="font-size: 14px;" align="left"> : @string.Format("{0:dd MMMM yyyy}", Model.Tanggal) </td>
                                    <td width="20%" style="font-size: 14px;" align="center"></td>
                                </tr>
                                <tr>
                                    <td colspan="4" width="100%" style="font-size: 14px; padding: 30px 0 5px 12px" align="left">
                                        <span style="padding-right:40px"></span>Berdasarkan hasil penelitian sistem informasi pendapatan @Context.Session.GetString("Opd"), Kami sampaikan bahwa Wajib Pajak:
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%">
                                <tr style="font-size: 14px;">
                                    <td width="10%" style="padding: 5px 12px 2px 12px;"><span>NAMA</span></td>
                                    <td width="90%" style="padding: 5px 12px 2px 12px;">: <span>@(Model.IdSubjekNavigation.Nama.ToUpper())</span></td>
                                </tr>
                                <tr style="font-size: 14px;">
                                    <td style="padding: 1px 12px 2px 12px;"><span>NPWPD</span></td>
                                    <td style="padding: 1px 12px 2px 12px;">: <span class="vis-print">@Model.IdSubjekNavigation.Npwpd</span></td>
                                </tr>
                                @if (Model.IdSubjekNavigation.IdBadanHukum != null)
                                {
                                    <tr style="font-size: 14px;">
                                        <td style="padding: 1px 12px 2px 12px;"><span>NPWP</span></td>
                                        <td style="padding: 1px 12px 2px 12px;">: <span class="vis-print">@Model.IdSubjekNavigation.Npwp</span></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr style="font-size: 14px;">
                                        <td style="padding: 1px 12px 2px 12px;"><span>NIK</span></td>
                                        <td style="padding: 1px 12px 2px 12px;">: <span class="vis-print">@Model.IdSubjekNavigation.Nik</span></td>
                                    </tr>
                                }
                                <tr style="font-size: 14px;">
                                    <td style="padding: 1px 12px 2px 12px;"><span>Alamat</span></td>
                                    <td style="padding: 1px 12px 2px 12px;">: <span class="vis-print">@Model.IdSubjekNavigation.Alamat RT. @Model.IdSubjekNavigation.Rtrw.Substring(0, 2) RW. @Model.IdSubjekNavigation.Rtrw.Substring(3, 2)</span></td>
                                </tr>
                                <tr style="font-size: 14px;">
                                    <td style="padding: 1px 12px 2px 12px;"><span></span></td>
                                    <td style="padding: 1px 12px 2px 22px;">Desa/Kelurahan <span class="vis-print">@Model.IdSubjekNavigation.IndKelurahan.Kelurahan.ToUpper()</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" width="100%" style="font-size: 14px; padding: 5px 12px 2px 12px;">
                                        Sampai dengan tanggal: <span style="text-decoration:underline">@string.Format("{0:dd MMMM yyyy}", DateTime.Now.Date)</span> telah memenuhi kewajiban perpajakan sesuai dengan persyaratan pada ketentuan peratutan penerbitan Surat Keterangan Fiskal.
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" width="100%" style="font-size: 14px; padding: 15px 10px 5px 12px" align="left">
                                        <span style="padding-right:40px"></span>Surat Keterangan Fiskal ini dibuat dalam rangka <span style="text-decoration:underline">@Model.Tujuan</span> yang berlaku mulai tanggal <span style="text-decoration:underline">@string.Format("{0:dd MMMM yyyy}", Model.Tanggal)</span>  sampai dengan tanggal <span style="text-decoration:underline">@string.Format("{0:dd MMMM yyyy}", Model.Berakhir)</span>.
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" width="100%" style="font-size: 14px; padding: 15px 0 5px 12px" align="left">
                                        <span style="padding-right:40px"></span>Demikian disampaikan, untuk digunakan sebagaimana mestinya.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:40px">
                            <table class="join" width="100%">
                                <tr style="font-size: 14px;">
                                    <td width="50%" style="padding: 0px 12px;"></td>
                                    <td width="50%" align="center" style="padding: 0px 12px;"><span style="text-transform:uppercase;">@Context.Session.GetString("Pemda"), @string.Format("{0:dd MMMM yyyy}", DateTime.Now.Date)</span></td>
                                </tr>
                                <tr class="tb-padding--both" style="font-size: 14px;">
                                    <td style="padding: 0px 12px;"></td>
                                    <td align="center"><span>@ViewBag.Jabatan</span></td>
                                </tr>
                                <tr style="font-size: 14px; height:60px;">
                                    <td style="padding: 0px 12px;"></td>
                                    <td align="center"><span></span></td>
                                </tr>
                                <tr style="font-size: 14px;">
                                    <td></td>
                                    <td align="center"><span>@ViewBag.TTD</span></td>
                                </tr>
                                <tr style="font-size: 14px;">
                                    <td></td>
                                    <td align="center"><span>NIP. @ViewBag.NIP</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:32px;"></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
    </html>