@model IEnumerable<SIP.Models.Lra>

@{
    Layout = null;
    ViewBag.Title = "Laporan Realisasi Anggaran";
}

<html lang="id">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/print-style.css" rel="stylesheet" />
    <link href="~/css/paper/F4.css" rel="stylesheet" />

    <!--begin::Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="~/media/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="~/media/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--end::Favicon -->
</head>

<body>
    <div style="width: 100%;">
        <div align="center">
            <div class="F4">
                <table width="100%" cellspacing="0" cellpadding="0" style="width: 800px; padding: 20px 30px 5px;">
                    <tr>
                        <td><img class="logo" src="~/media/logos/logo.png" /></td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table-borderless" width="100%" style="margin-top: 5px; font-size: 18px;">
                                <tr class="header">
                                    <td align="center" style="font-weight: 600"><span style="text-transform:uppercase;">@Context.Session.GetString("NamaPemda")</span></td>
                                </tr>
                                <tr class="header">
                                    <td align="center" valign="top" style="font-weight: 600">@Context.Session.GetString("Opd")</td>
                                </tr>
                                <tr class="header">
                                    <td align="center" valign="top" style=font-size: 16px;">@Context.Session.GetString("Alamat")</td>
                                </tr>
                                <tr>
                                    <td height="10px" style="border-bottom: double #000"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%" style="margin-top: 10px;">
                                <tr class="table-borderless" style="font-size: 14px; font-weight: 300;">
                                    <td align="center" style="font-size: 16px; font-weight: 600;">LAPORAN REALISASI ANGGARAN</td>
                                </tr>
                                @if (ViewBag.Jenis == "Tahun")
                                {
                                    <tr class="table-borderless" style="font-size: 14px; font-weight: 300;">
                                        <td align="center"><h4>TAHUN @String.Format("{0:yyyy}", ViewBag.T1)</h4></td>
                                    </tr>
                                }
                                else if (ViewBag.Jenis == "Bulan")
                                {
                                    <tr class="table-borderless" style="font-size: 14px; font-weight: 300;">
                                        <td align="center"><h4>BULAN @ViewBag.Bulan TAHUN @String.Format("{0:yyyy}", ViewBag.T1)</h4></td>
                                    </tr>
                                }
                                else if (ViewBag.Jenis == "Tanggal")
                                {
                                    <tr class="table-borderless" style="font-size: 14px; font-weight: 300;">
                                        <td align="center"><h4>TANGGAL @String.Format("{0:dd-MM-yyyy}", ViewBag.T1) SAMPAI @String.Format("{0:dd-MM-yyyy}", ViewBag.T2)</h4></td>
                                    </tr>
                                }
                            </table>
                            <table class="join" width="100%" style="margin-top: 5px; font-size: 12px">
                                <tr class="tb-border--all tb-narrow">
                                    <td width="11%" align="center"><span>KODE</span></td>
                                    <td width="56%" align="center"><span>URAIAN</span></td>
                                    <td width="14%" align="center"><span>ANGGARAN</span></td>
                                    <td width="14%" align="center"><span>REALISASI</span></td>
                                    <td width="5%" align="center"><span>%</span></td>
                                </tr>
                                <tr class="tb-narrow">
                                    <td><span>4</span></td>
                                    <td><span class="report-link">PENDAPATAN</span></td>
                                    <td><span></span></td>
                                    <td><span></span></td>
                                    <td><span></span></td>
                                </tr>
                                @foreach (var core in Model.Select(d => d.IdCoaNavigation.Parent.Substring(0, 2)).Distinct()) //41
                                {
                                    foreach (var coa in ((List<Coa>)ViewBag.Coa).Where(c => c.IdCoa == core))
                                    {
                                        <tr class="tb-narrow">
                                            <td><span>@core.Substring(0, 1).@core.Substring(1, 1)</span></td>
                                            <td class="tab-1" style="text-transform:uppercase"><a href="@Url.Action("LRACetak", new { id = ViewBag.Jenis, tanggal1 = ViewBag.T1, tanggal2 = ViewBag.T2 })">@coa.Uraian</a></td>
                                            <td><span></span></td>
                                            <td><span></span></td>
                                            <td><span></span></td>
                                        </tr>
                                    }
                                    foreach (var parent in Model.Where(d => d.IdCoaNavigation.Parent.Substring(0, 2) == core).Select(d => d.IdCoaNavigation.Parent.Substring(0, 3)).Distinct()) //411
                                    {
                                        var jenis = Model.Where(d => d.IdCoaNavigation.Parent.Substring(0, 3) == parent);
                                        var realisasi = jenis.Sum(d => d.TransaksiLra.Where(d => d.Tanggal >= ViewBag.T1 && d.Tanggal <= ViewBag.T2).Sum(s => s.Jumlah));
                                        var anggaran = jenis.Sum(d => d.Afinal);
                                        var persen = (double)0;

                                        if (anggaran != 0 && realisasi != 0)
                                        {
                                            persen = (double)realisasi / (double)anggaran * 100;
                                        }

                                        foreach (var coa in ((List<Coa>)ViewBag.Coa).Where(c => c.IdCoa == parent))
                                        {
                                            <tr class="tb-narrow">
                                                <td><span>@parent.Substring(0, 1).@parent.Substring(1, 1).@parent.Substring(2, 1)</span></td>
                                                <td class="tab-2" style="text-transform:uppercase"><a href="@Url.Action("LRACetakJenis", new { id = ViewBag.Jenis, tanggal1 = ViewBag.T1, tanggal2 = ViewBag.T2 })">@coa.Uraian</a></td>
                                                <td align="right"><span>@String.Format("{0:N0}", anggaran)</span></td>
                                                <td align="right"><span>@String.Format("{0:N0}", realisasi)</span></td>
                                                <td align="right"><span>@String.Format("{0:N2}", persen)%</span></td>
                                            </tr>
                                        }
                                        foreach (var child in Model.Where(d => d.IdCoaNavigation.Parent.Substring(0, 3) == parent).Select(d => d.IdCoaNavigation.Parent).Distinct()) //41101
                                        {
                                            jenis = Model.Where(d => d.IdCoaNavigation.Parent == child);
                                            realisasi = jenis.Sum(d => d.TransaksiLra.Where(d => d.Tanggal >= ViewBag.T1 && d.Tanggal <= ViewBag.T2).Sum(s => s.Jumlah));
                                            anggaran = jenis.Sum(d => d.Afinal);
                                            persen = (double)0;

                                            if (anggaran != 0 && realisasi != 0)
                                            {
                                                persen = (double)realisasi / (double)anggaran * 100;
                                            }

                                            foreach (var coa in ((List<Coa>)ViewBag.Coa).Where(c => c.IdCoa == child))
                                            {
                                                <tr class="tb-narrow">
                                                    <td><span>@child.Substring(0, 1).@child.Substring(1, 1).@child.Substring(2, 1).@child.Substring(3, 2)</span></td>
                                                    <td class="tab-3" style="text-transform:uppercase"><a href="@Url.Action("LRACetakSubJenis", new { id = ViewBag.Jenis, tanggal1 = ViewBag.T1, tanggal2 = ViewBag.T2 })">@coa.Uraian</a></td>
                                                    <td align="right"><span>@String.Format("{0:N0}", anggaran)</span></td>
                                                    <td align="right"><span>@String.Format("{0:N0}", realisasi)</span></td>
                                                    <td align="right"><span>@String.Format("{0:N2}", persen)%</span></td>
                                                </tr>
                                            }
                                            foreach (var lra in Model.Where(d => d.IdCoaNavigation.Parent == child))
                                            {
                                                jenis = Model.Where(d => d.IdCoa == lra.IdCoa);
                                                realisasi = jenis.Sum(d => d.TransaksiLra.Where(d => d.Tanggal >= ViewBag.T1 && d.Tanggal <= ViewBag.T2).Sum(s => s.Jumlah));
                                                anggaran = jenis.Sum(d => d.Afinal);
                                                persen = (double)0;
                                                <tr class="tb-narrow">
                                                    <td><span>@lra.IdCoa.Substring(0, 1).@lra.IdCoa.Substring(1, 1).@lra.IdCoa.Substring(2, 1).@lra.IdCoa.Substring(3, 2).@lra.IdCoa.Substring(5, 2)</span></td>
                                                    <td class="tab-4"><a target="_blank" href="@Url.Action("Details", "LRA", new { id = lra.IdLra })">@lra.IdCoaNavigation.Uraian</a></td>
                                                    <td align="right"><span>@string.Format("{0:N0}", anggaran)</span></td>
                                                    <td align="right"><span>@string.Format("{0:N0}", realisasi)</span></td>
                                                    <td align="right"><span>@string.Format("{0:N2}", persen)%</span></td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                                <tr class="tb-border--all tb-narrow">
                                    <td align="center" colspan="2"><span>TOTAL</span></td>
                                    <td align="right"><span>@string.Format("{0:N0}", ViewBag.TotalAnggaran)</span></td>
                                    <td align="right"><span>@string.Format("{0:N0}", ViewBag.TotalRealisasi)</span></td>
                                    <td align="right"><span>@string.Format("{0:N2}", ViewBag.TotalPersen)%</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
