@model SIP.Models.DataSubjek

@{
    Layout = null;
}

<html lang="id">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | SIP</title>
    <meta name="description" content="Updates and statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/assets/style/print-style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/reporting/npwpd.css" rel="stylesheet" />

    <!--begin::Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="~/media/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="~/media/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--end::Favicon -->

    <style>
        .join {
            border-collapse: collapse;
        }

        .margin-t-40 {
            margin-top: 40px !important;
        }
    </style>
</head>

<body style="font-family: open sans, tahoma, sans-serif; margin: 0; background-color:#c2c2c2; -webkit-print-color-adjust: exact;">
    <div style="width: 100%;">
        <div align="center">
            <div style="box-shadow:10px;">
                <table class="npwpd" width="100%" cellspacing="0" cellpadding="0" style="width: 400px; padding: 15px 10px; color: #343030; background-color:#FFF;">
                    <tr>
                        <td>
                            <table width="100%" class="join">
                                <tr>
                                    <td rowspan="2" width="10%" style="font-size: 13px; padding-top:5px;" align="center">
                                        <img src="~/media/logos/logo.png" width="40" style="padding-left:10px" />
                                    </td>
                                    <td width="90%" style="font-size: 13px; padding-top:5px; text-transform:uppercase;" align="center">
                                        <span style="font-weight: 600">@Context.Session.GetString("NamaPemda")</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="90%" style="font-size: 11px; padding-bottom:9px; text-transform:uppercase;" align="center">
                                        <span style="font-weight: 600">@Context.Session.GetString("Opd")</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:3px">
                            <table class="join" width="100%">
                                <tr style="font-size: 13px;">
                                    <td style="padding: 5px 12px 2px 5px;"><span>@(Model.Npwpd != null ? "NPWPD" : "NPWRD")</span></td>
                                    @if (Model.Npwpd != null)
                                    {
                                        <td style="padding: 5px 12px 2px 5px;">: <span class="vis-print">@Model.Npwpd / @Model.Npwrd</span></td>
                                    }
                                    else if (Model.Npwpd != null)
                                    {
                                        <td style="padding: 5px 12px 2px 5px;">: <span class="vis-print">@Model.Npwpd</span></td>
                                    }
                                    else if (Model.Npwrd != null)
                                    {
                                        <td style="padding: 5px 12px 2px 5px;">: <span class="vis-print">@Model.Npwrd</span></td>
                                    }
                                </tr>
                                <tr style="font-size: 13px;">
                                    <td width="10%" style="padding: 1px 12px 2px 5px;"><span>NAMA</span></td>
                                    <td width="90%" style="padding: 1px 12px 2px 5px; text-transform:uppercase;">: <span>@(Model.Nama)</span></td>
                                </tr>
                                @if (Model.Npwpd.Substring(2, 1) == "2")
                                {
                                    <tr style="font-size: 13px;">
                                        <td style="padding: 1px 12px 2px 5px;"><span>NPWP</span></td>
                                        <td style="padding: 1px 12px 2px 5px;">: <span class="vis-print">@Model.Npwp</span></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr style="font-size: 13px;">
                                        <td style="padding: 1px 12px 2px 5px;"><span>NIK</span></td>
                                        <td style="padding: 1px 12px 2px 5px;">: <span class="vis-print">@Model.Nik</span></td>
                                    </tr>
                                }
                                <tr style="font-size: 11px;">
                                    <td colspan="2" style="padding: 15px 12px 2px 5px; text-transform:uppercase;">
                                        <span class="vis-print">@Model.Alamat RT. @Model.Rtrw.Substring(0, 2) RW. @Model.Rtrw.Substring(3, 2)</span>
                                    </td>
                                </tr>
                                <tr style="font-size: 11px;">
                                    <td colspan="2" style="padding: 1px 12px 2px 5px; text-transform:uppercase;">
                                        <span class="vis-print">@Model.IndKelurahan.Kelurahan, @Model.IndKecamatan.Kecamatan</span>
                                    </td>
                                </tr>
                                <tr style="font-size: 11px;">
                                    <td colspan="2" style="padding: 1px 12px 2px 5px; text-transform:uppercase;">
                                        <span class="vis-print">@Model.IndKabKota.KabKota</span>
                                    </td>
                                </tr>
                                <tr style="font-size: 12px;">
                                    <td colspan="2" style="padding: 5px 12px 2px 5px;" align="right">
                                        <span class="vis-print"><barcode style="margin-right: -20px" content="@Model.Npwpd.Replace(".", string.Empty).Trim()" width="250" height="30"></barcode></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>