@model IEnumerable<SIP.ViewModels.BukuPenerimaan>

@{
    Layout = null;
    var no = 1;
}

    <html lang="id">

    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/css/print-style.css" rel="stylesheet" />
        <link href="~/css/reporting/bpp.css" rel="stylesheet" />
        <style>
            .join {
                border-collapse: collapse;
            }
        </style>
        <!--begin::Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="~/media/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon/favicon-16x16.png">
        <link rel="shortcut icon" href="~/media/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="msapplication-config" content="~/media/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!--end::Favicon -->
    </head>


    <body style="font-family: open sans, tahoma, sans-serif; margin: 0; background-color:#c2c2c2; -webkit-print-color-adjust: exact">
        <div style="width: 100%;">
            <div align="center">
                <div style="box-shadow:10px;">
                    <table width="100%" cellspacing="0" cellpadding="0" style="width: 1300px; padding: 20px 30px; color: #343030; background-color:#FFF;">
                        <tr>
                            <td><img class="logo" src="~/media/logos/logo.png" /></td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table-borderless" width="100%" style="margin-top: 5px; font-size: 18px;">
                                    <tr class="header">
                                        <td align="center" style="font-weight: 600"><span style="text-transform:uppercase;">@Context.Session.GetString("NamaPemda")</span></td>
                                    </tr>
                                    <tr class="header">
                                        <td align="center" valign="top" style="font-weight: 600">@Context.Session.GetString("Opd")</td>
                                    </tr>
                                    <tr class="header">
                                        <td align="center" valign="top" style=font-size: 16px;">@Context.Session.GetString("Alamat")</td>
                                    </tr>
                                    <tr>
                                        <td height="10px" class="tb-border--bottom"></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px 0; font-size: 16px;" align="center">
                                            LAPORAN PENERIMAAN DAN PENYETORAN
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="join" width="100%" id="bpp">
                                    <tr class="tb-border--all tb-border tb-min-border" style="font-size: 14px; font-weight: 300;">
                                        <td rowspan="2" align="center"><span class="m--font-bolder"><small>No</small></span></td>
                                        <td colspan="6" align="center"><span class="m--font-bolder"><small>Penerimaan</small></span></td>
                                        <td colspan="3" align="center"><span class="m--font-bolder"><small>Penyetoran</small></span></td>
                                        <td rowspan="2" align="center"><span class="m--font-bolder"><small>Keterangan</small></span></td>
                                        <td rowspan="2" align="center"><span class="m--font-bolder"><small>Saldo</small></span></td>
                                    </tr>
                                    <tr class="tb-border--all tb-border tb-min-border" style="font-size: 14px; font-weight: 300;">
                                        <td align="center"><span><small>Tanggal</small></span></td>
                                        <td align="center"><span><small>No.bukti</small></span></td>
                                        <td align="center"><span><small>Pembayaran</small></span></td>
                                        <td align="center"><span><small>Kode Rek.</small></span></td>
                                        <td align="center"><span><small>Uraian</small></span></td>
                                        <td align="center"><span><small>Jumlah</small></span></td>
                                        <td align="center"><span><small>Tanggal</small></span></td>
                                        <td align="center"><span><small>No.STS</small></span></td>
                                        <td align="center"><span><small>Jumlah</small></span></td>
                                    </tr>
                                    <tr class="tb-border--all tb-border tb-min-border" style="font-size: 14px; font-weight: 300;">
                                        <td width="3%" align="center"><span><small>1</small></span></td>
                                        <td width="7%" align="center"><span><small>1 jan @DateTime.Now.Year</small></span></td>
                                        <td width="13%" align="center"><span><small></small></span></td>
                                        <td width="8%" align="center"><span><small></small></span></td>
                                        <td width="6%" align="center"><span><small></small></span></td>
                                        <td width="20%" align="left"><span><small>Saldo Awal Bendahara</small></span></td>
                                        <td width="7%" align="right"><span><small>@String.Format("{0:N0}", ViewBag.Saldo)</small></span></td>
                                        <td width="7%" align="center"><span><small></small></span></td>
                                        <td width="8%" align="center"><span><small></small></span></td>
                                        <td width="7%" align="right"><span><small></small></span></td>
                                        <td width="5%" align="center"><span><small></small></span></td>
                                        <td width="9%" align="right"><span><small>@String.Format("{0:N0}", ViewBag.Saldo)</small></span></td>
                                    </tr>
                                    @foreach (var core in Model.OrderBy(d => d.Tanggal))
                                    {
                                        if (no == 25 || (no - 25) % 33 == 0)
                                        {
                                            <tr Skip="">
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px; visibility:hidden;"></td>
                                            </tr>
                                            <tr Skip="">
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px"></td>
                                                <td style="height: 30px; visibility:hidden;"></td>
                                            </tr>
                                            <tr class="tb-border--all tb-border tb-min-border" style="font-size: 14px; font-weight: 300;">
                                                <td align="center"><span><small>@(no += 1)</small></span></td>
                                                <td align="center"><span><small>@String.Format("{0:dd MMM yyyy}", core.Tanggal)</small></span></td>
                                                <td align="center"><span><small>@core.Nomor</small></span></td>
                                                <td align="center"><span><small>@core.Pembayaran</small></span></td>
                                                <td align="center"><span><small>@core.Kode</small></span></td>
                                                <td align="left"><span><small>@core.Uraian</small></span></td>
                                                <td align="right"><span><small>@String.Format("{0:N0}", core.Jumlah)</small></span></td>

                                                @if (core.Valid != null)
                                                {
                                                    <td align="center"><span><small>@String.Format("{0:dd MMM yyyy}", core.Valid)</small></span></td>
                                                    <td align="center"><span><small>@core.Sts</small></span></td>
                                                    <td align="right"><span><small>@String.Format("{0:N0}", core.Jumlah)</small></span></td>
                                                }
                                                else if (core.Status)
                                                {
                                                    <td align="center"><span><small>@String.Format("{0:dd MMM yyyy}", core.Tanggal)</small></span></td>
                                                    <td align="center"><span><small>-</small></span></td>
                                                    <td align="right"><span><small>@String.Format("{0:N0}", core.Jumlah)</small></span></td>
                                                }
                                                else
                                                {
                                                    <td align="center"><span><small></small></span></td>
                                                    <td align="center"><span><small></small></span></td>
                                                    <td align="right"><span><small></small></span></td>
                                                }
                                                <td align="center"><span><small></small></span></td>
                                                <td align="right" style="font-weight: 400; font-size:85%;"><span></span></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr class="tb-border--all tb-border tb-min-border" style="font-size: 14px; font-weight: 300;">
                                                <td align="center"><span><small>@(no += 1)</small></span></td>
                                                <td align="center"><span><small>@String.Format("{0:dd MMM yyyy}", core.Tanggal)</small></span></td>
                                                <td align="center"><span><small>@core.Nomor</small></span></td>
                                                <td align="center"><span><small>@core.Pembayaran</small></span></td>
                                                <td align="center"><span><small>@core.Kode</small></span></td>
                                                <td align="left"><span><small>@core.Uraian</small></span></td>
                                                <td align="right"><span><small>@String.Format("{0:N0}", core.Jumlah)</small></span></td>

                                                @if (core.Valid != null)
                                                {
                                                    <td align="center"><span><small>@String.Format("{0:dd MMM yyyy}", core.Valid)</small></span></td>
                                                    <td align="center"><span><small>@core.Sts</small></span></td>
                                                    <td align="right"><span><small>@String.Format("{0:N0}", core.Jumlah)</small></span></td>
                                                }
                                                else if (core.Status)
                                                {
                                                    <td align="center"><span><small>@String.Format("{0:dd MMM yyyy}", core.Tanggal)</small></span></td>
                                                    <td align="center"><span><small>-</small></span></td>
                                                    <td align="right"><span><small>@String.Format("{0:N0}", core.Jumlah)</small></span></td>
                                                }
                                                else
                                                {
                                                    <td align="center"><span><small></small></span></td>
                                                    <td align="center"><span><small></small></span></td>
                                                    <td align="right"><span><small></small></span></td>
                                                }
                                                <td align="center"><span><small></small></span></td>
                                                <td align="right" style="font-weight: 400; font-size:85%;"><span></span></td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="margin-top: 10px;" width="100%">
                                    <tr class="table-borderless" style="font-size: 13px; font-weight: 300;">
                                        <td width="50%" colspan="4"><span class="m--font-bold">Kas Di Bendahara Penerimaan</span></td>
                                        <td width="50%" colspan="4"><span class="m--font-bold">Terdiri Atas</span></td>
                                    </tr>
                                    <tr class="table-borderless" style="font-size: 13px; font-weight: 300;">
                                        <td width="9%"><span>a. Saldo Awal</span></td>
                                        <td width="16%" align="right"><span>: Rp. </span></td>
                                        <td width="16%" align="right"><span>@String.Format("{0:N0}", ViewBag.Saldo)</span></td>
                                        <td width="9%"><span></span></td>
                                        <td width="16%"><span>a. Tunai Sebesar</span></td>
                                        <td width="9%" align="right"><span>: Rp.</span></td>
                                        <td width="16%" align="right"><span id="tunai"></span></td>
                                        <td width="9%"><span></span></td>
                                    </tr>
                                    <tr class="table-borderless" style="font-size: 13px; font-weight: 300;">
                                        <td width="16%"><span>b. Jumlah Penerimaan</span></td>
                                        <td width="9%" align="right"><span>: Rp. </span></td>
                                        <td width="16%" align="right"><span id="penerimaan"></span></td>
                                        <td width="9%" align="right"><span></span></td>
                                        <td width="16%"><span>b. Bank Sebesar</span></td>
                                        <td width="9%" align="right"><span>: Rp. </span></td>
                                        <td width="16%" align="right"><span id="bank"></span></td>
                                        <td width="9%" align="right"><span></span></td>
                                    </tr>
                                    <tr class="table-borderless" style="font-size: 13px; font-weight: 300;">
                                        <td width="16%"><span>c. Jumlah Setoran</span></td>
                                        <td width="9%" align="right"><span>: Rp. </span></td>
                                        <td width="16%" align="right"><span id="setoran"></span></td>
                                        <td width="9%" align="right"><span></span></td>
                                        <td width="16%"><span>c. Lainnya</span></td>
                                        <td width="9%" align="right"><span>: Rp.</span></td>
                                        <td width="16%" align="right"><span></span></td>
                                        <td width="9%" align="right"><span></span></td>
                                    </tr>
                                    <tr class="table-borderless" style="font-size: 13px; font-weight: 300;">
                                        <td width="16%"><span>d. Saldo Akhir</span></td>
                                        <td width="9%" align="right"><span>: Rp. </span></td>
                                        <td width="16%" align="right"><span id="saldoakhir"></span></td>
                                        <td width="9%" align="right"><span></span></td>
                                        <td width="16%" align="right"><span></span></td>
                                        <td width="9%" align="right"><span></span></td>
                                        <td width="16%" align="right"><span></span></td>
                                        <td width="9%" align="right"><span></span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
    </html>


<script src="~/js/terbilang.js"></script>
<script>
    function rupiah(a, currency) {
        return currency + a.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
    }

    var table = document.getElementById('bpp'),
            rows = table.getElementsByTagName('tr'),
            end = rows.length + 1,
            text = 'textContent' in document ? 'textContent' : 'innerText';

    var setor = 0;
    var terima = 0;
    var tunai = 0;
    var bank = 0;
    for (var i = 0, len = rows.length; i < len; i++) {
        if (i == 0 || i == 1 || i == 2) {

        }
        else if (i < len) {
            var debit = (rows[i].children[6][text]);
            var kredit = (rows[i].children[9][text]);
            var saldo = (rows[i - 1].children[11][text]).replace(/\./g, '');
            if (debit != "") {
                debit = debit.replace(/\./g, '');
                var idebit = parseInt(debit);
                if ((rows[i].children[3][text]) == "Tunai") {
                    tunai += idebit;
                }
                else {
                    bank += idebit;
                }
            }
            else {
                debit = 0;
            }
            if (kredit != "") {
                kredit = kredit.replace(/\./g, '');
            }
            else {
                kredit = 0;
            }
            var idebit = parseInt(debit);
            var ikredit = parseInt(kredit);
            var isaldo = parseInt(saldo);
            var sum = isaldo + idebit - ikredit;
            rows[i].children[11][text] = (rupiah(sum, ''));

            setor += ikredit;
            terima += idebit;
        }
    }
    document.getElementById("penerimaan").innerHTML = (rupiah(terima, ''));
    document.getElementById("setoran").innerHTML = (rupiah(setor, ''));
    document.getElementById("saldoakhir").innerHTML = (rupiah(saldo, ''));
    document.getElementById("bank").innerHTML = (rupiah(bank, ''));
    document.getElementById("tunai").innerHTML = (rupiah(tunai, ''));

</script>
