@model IEnumerable<SIP.Models.Skpd>

@{
    Layout = "/Views/Shared/_Layout-print.cshtml";
    ViewBag.Title = "Register SKPD";
}

@section Style {
    <link href="~/css/paper/F4.css" rel="stylesheet" />
    <link href="~/css/paper/Landscape.css" rel="stylesheet" />
}

<div style="width: 100%;">
    <div align="center">
        <div class="F4-Landscape break">
            <table width="100%" cellspacing="0" cellpadding="0" style="width: 1180px; padding: 20px 30px">
                <tr>
                    <td><img class="logo" src="~/media/logos/logo.png" /></td>
                </tr>
                <tr>
                    <td>
                        <table class="table-borderless" width="100%" style="margin-top: 5px; font-size: 18px;">
                            <tr class="header">
                                <td align="center" style="font-weight: 600"><span style="text-transform:uppercase;">@Context.Session.GetString("NamaPemda")</span></td>
                            </tr>
                            <tr class="header">
                                <td align="center" valign="top" style="font-weight: 600">@Context.Session.GetString("Opd")</td>
                            </tr>
                            <tr class="header">
                                <td align="center" valign="top" style=font-size: 16px;">@Context.Session.GetString("Alamat")</td>
                            </tr>
                            <tr>
                                <td height="10px" style="border-bottom: double #000"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="join" width="100%" style="margin-top: 10px;">
                            <tr class="table-borderless" style="font-size: 14px; font-weight: 300;">
                                <td align="center" style="font-size: 16px; font-weight: 600;">REGISTER SKPD</td>
                            </tr>
                        </table>
                        <table class="join" width="100%" style="margin-top: 5px; font-size: 12px" id="register-table">
                            <thead>
                                <tr class="tb-border--all tb-narrow">
                                    <td width="3%" align="center"><span>NO</span></td>
                                    <td width="12%" align="center"><span>TANGGAL</span></td>
                                    <td width="10%" align="center"><span>NO SKPD</span></td>
                                    <td width="10%" align="center"><span>NAMA WP</span></td>
                                    <td width="10%" align="center"><span>NAMA USAHA</span></td>
                                    <td width="20%" align="center"><span>JENIS PAJAK</span></td>
                                    <td width="6%" align="center"><span>MASA PAJAK</span></td>
                                    <td width="7%" align="center"><span>TERHUTANG</span></td>
                                    <td width="7%" align="center"><span>JUMLAH SETOR</span></td>
                                    <td width="8%" align="center"><span>STATUS</span></td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr class="tb-border--all tb-narrow">
                                    <td align="right" colspan="7">TOTAL</td>
                                    <td align="right" id="subT"></td>
                                    <td align="right" id="subK"></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section FilterPanel{
    <!-- begin::Quick Panel -->
    <div id="kt_quick_panel" class="kt-quick-panel">
        <a href="#" class="kt-quick-panel__close" id="kt_quick_panel_close_btn"><i class="flaticon2-delete"></i></a>
        <div class="kt-quick-panel__nav">
            <span class="kt-notification-item-padding-x kt-font-bolder kt-font-brand" role="tablist">Filter Data</span>
        </div>
        <div class="kt-quick-panel__content">
            <div class="kt-padding-l-20 kt-padding-r-20">
                <form class="kt-form">
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control kt-selectpicker" id="type1" title="Status">
                            <option value=" ">Semua</option>
                            <option value="1">Lunas</option>
                            <option value="0">Belum Bayar</option>
                            <option value="4">STPD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Jenis Pajak:</label>
                        <select class="form-control kt-selectpicker" id="type2" title="Jenis Pajak">
                            <option value=" ">Semua</option>
                            @foreach (var jenis in ViewBag.Jenis)
                            {
                                <option value="@jenis.IdCoa">@jenis.Uraian</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Urutkan Berdasarkan</label>
                        <select class="form-control kt-selectpicker" id="sort">
                            <option value="0">Tanggal</option>
                            <option value="1">Nomor SKPD</option>
                            <option value="2">Nama WP</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Tanggal</label>
                        <div class="input-group">
                            <input id="min" name="min" class="form-control dateleft" type="text" asp-format="{0:MM-dd-yyyy}" autocomplete="off" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                            </div>
                            <input id="max" name="max" class="form-control dateright" type="text" asp-format="{0:MM-dd-yyyy}" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group form-group-last kt-align-right">
                        <input type="reset" class="btn btn-secondary" value="Reset" onclick="Reset_Data()">
                        <input type="button" class="btn btn-primary" value="Submit" onclick="Load_Data()">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end::Quick Panel -->
    <ul class="kt-sticky-toolbar cetak" style="margin-top: 30px;">
        <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--info" @*data-toggle="kt-tooltip" title="Cetak" data-placement="left"*@>
            <a href="javascript:if(window.print)window.print()"><i class="la la-print"></i></a>
        </li>
        <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success" data-toggle="kt-tooltip" title="Filter Data" data-placement="left">
            <a id="kt_quick_panel_toggler_btn" style="cursor: pointer"><i class="la la-filter"></i></a>
        </li>
    </ul>
}

@section Scripts {
    <script>

        function rupiah(a, currency) {
            return currency + a.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
        }

        function Reset_Data() {
            $('#type1 option[value=" "]').attr('selected', 'selected');
            $('#type2 option[value=" "]').attr('selected', 'selected');
            $('#sort option[value="0"]').attr('selected', 'selected');
            $('.kt-selectpicker').selectpicker('refresh');

            document.getElementById("min").value = "";
            document.getElementById("max").value = "";

            Load_Data();
        }

        Load_Data();
        function Load_Data() {
            var filter = {
                "Tipe1": $("#type1").val().trim(),
                "Tipe2": $("#type2").val().trim(),
                "SortIndex": $("#sort").val().trim(),
                "DateMin": $("#min").val().trim(),
                "DateMax": $("#max").val().trim()
            }
            var param = JSON.stringify(filter);
            $("#register-table tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '/AjaxData/GetSKPD',
                dataType: 'json',
                data: { postData: param },
                success: function (data) {
                    var no = 0;
                    var subT = 0;
                    var subK = 0;
                    $.each(data, function (i, item) {
                        no += 1;
                        subT += parseInt(item.terhutang, 10);
                        subK += parseInt(item.setor, 10);
                        var rows = '<tr class="tb-border--all tb-border tb-min-border">'
                            + "<td>" + no + "</td>"
                            + "<td>" + item.tanggal + "</td>"
                            + "<td>" + item.nomor + "</td>"
                            + "<td>" + item.nama + "</td>"
                            + "<td>" + item.usaha + "</td>"
                            + "<td>" + item.uraian + "</td>"
                            + "<td>" + item.masa + "</td>"
                            + '<td align="right">' + (rupiah(item.terhutang, '')) + "</td>"
                            + '<td align="right">' + (rupiah(item.setor, '')) + "</td>"
                            + "<td>" + item.status + "</td>"
                            + "</tr>";
                        $('#register-table tbody').append(rows);
                    });
                    $("#subT").html((rupiah(subT, '')));
                    $("#subK").html((rupiah(subK, '')));
                },
                error: function () {
                    toastr.error("Error! Terjadi kesalahan!");
                }
            });
            return false;
        }

    </script>
}