@model IEnumerable<SIP.Models.TransaksiLra>

@{
    Layout = null;
    var no = 0;
}

    <html lang="id">

    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/css/print-style.css" rel="stylesheet" />
        <link href="~/css/reporting/bpp.css" rel="stylesheet" />
        <style>
            .join {
                border-collapse: collapse;
            }
        </style>
        <!--begin::Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="~/media/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon/favicon-16x16.png">
        <link rel="shortcut icon" href="~/media/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="msapplication-config" content="~/media/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!--end::Favicon -->
    </head>


    <body>
        <div style="width: 100%;">
            <div align="center">
                <div style="box-shadow:10px;">
                    <table width="100%" cellspacing="0" cellpadding="0" style="width: 1300px; padding: 20px 30px; color: #343030; background-color:#FFF;">
                        <tr>
                            <td>
                                <table class="table-borderless" width="100%" style="margin-top: 5px; font-size: 18px;">
                                    <tr class="header">
                                        <td align="center" style="font-weight: 600"><span style="text-transform:uppercase;">@Context.Session.GetString("NamaPemda")</span></td>
                                    </tr>
                                    <tr class="header">
                                        <td align="center" valign="top" style="font-weight: 600">BUKU REKAPITULASI PENERIMAAN HARIAN</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px 0">
                                <table class="table-borderless" width="100%" style="margin-top: 10px;">
                                    <tr>
                                        <td width="6%" style="font-size: 13px;" align="left">OPD</td>
                                        <td style="font-size: 13px;" align="left">: @Context.Session.GetString("Opd")</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 13px;" align="left">Periode</td>
                                        <td style="font-size: 13px;" align="left">: @string.Format("{0:dd MMMM yyyy}", ViewBag.T1) - @string.Format("{0:dd MMMM yyyy}", ViewBag.T2)</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="join" width="100%">
                                    <tr class="tb-border--all tb-border tb-min-border" style="font-size: 14px; font-weight: 300;">
                                        <td width="3%" rowspan="2" align="center"><span><small>No</small></span></td>
                                        <td width="5%" rowspan="2" align="center"><span><small>Tanggal</small></span></td>
                                        <td width="14%" rowspan="2" align="center"><span><small>Referensi</small></span></td>
                                        <td colspan="2" align="center"><span><small>Pajak Daerah</small></span></td>
                                        <td colspan="2" align="center"><span><small>Retribusi Daerah</small></span></td>
                                        <td colspan="2" align="center"><span><small>Lain-Lain Pendapatan yang Sah</small></span></td>
                                    </tr>
                                    <tr class="tb-border--all tb-border tb-min-border" style="font-size: 14px; font-weight: 300;">
                                        <td width="18%" align="center"><span><small>Kode dan Rincian</small></span></td>
                                        <td width="7%" align="center"><span><small>Jumlah</small></span></td>
                                        <td width="18%" align="center"><span><small>Kode dan Rincian</small></span></td>
                                        <td width="7%" align="center"><span><small>Jumlah</small></span></td>
                                        <td width="18%" align="center"><span><small>Kode dan Rincian</small></span></td>
                                        <td width="7%" align="center"><span><small>Jumlah</small></span></td>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="tb-border--all tb-border tb-min-border" style="font-size: 14px; font-weight: 300;">
                                            <td align="center"><span><small>@(no += 1)</small></span></td>
                                            <td align="center"><span><small>@String.Format("{0:dd/MM/yy}", item.Tanggal)</small></span></td>
                                            <td align="center"><span><small>@item.Sumber</small></span></td>
                                            @if (item.IdLraNavigation.IdCoa.Substring(0, 3) == "411")
                                            {
                                                <td>
                                                    <span>
                                                        <small>
                                                            (@item.IdLraNavigation.IdCoa.Substring(0, 1).@item.IdLraNavigation.IdCoa.Substring(1, 1).@item.IdLraNavigation.IdCoa.Substring(2, 1).@item.IdLraNavigation.IdCoa.Substring(3, 2).@item.IdLraNavigation.IdCoa.Substring(5, 2))
                                                            @item.IdLraNavigation.IdCoaNavigation.Uraian
                                                        </small>
                                                    </span>
                                                </td>
                                                <td align="right"><span><small>@String.Format("{0:N0}", item.Jumlah)</small></span></td>
                                                <td><span><small></small></span></td>
                                                <td align="right"><span><small></small></span></td>
                                                <td><span><small></small></span></td>
                                                <td align="right"><span><small></small></span></td>
                                            }
                                            else if (item.IdLraNavigation.IdCoa.Substring(0, 3) == "412")
                                            {
                                                <td><span><small></small></span></td>
                                                <td align="right"><span><small></small></span></td>
                                                <td>
                                                    <span>
                                                        <small>
                                                            (@item.IdLraNavigation.IdCoa.Substring(0, 1).@item.IdLraNavigation.IdCoa.Substring(1, 1).@item.IdLraNavigation.IdCoa.Substring(2, 1).@item.IdLraNavigation.IdCoa.Substring(3, 2).@item.IdLraNavigation.IdCoa.Substring(5, 2))
                                                            @item.IdLraNavigation.IdCoaNavigation.Uraian
                                                        </small>
                                                    </span>
                                                </td>
                                                <td align="right"><span><small>@String.Format("{0:N0}", item.Jumlah)</small></span></td>
                                                <td><span><small></small></span></td>
                                                <td align="right"><span><small></small></span></td>
                                            }
                                            else
                                            {
                                                <td><span><small></small></span></td>
                                                <td align="right"><span><small></small></span></td>
                                                <td><span><small></small></span></td>
                                                <td align="right"><span><small></small></span></td>
                                                <td>
                                                    <span>
                                                        <small>
                                                            (@item.IdLraNavigation.IdCoa.Substring(0, 1).@item.IdLraNavigation.IdCoa.Substring(1, 1).@item.IdLraNavigation.IdCoa.Substring(2, 1).@item.IdLraNavigation.IdCoa.Substring(3, 2).@item.IdLraNavigation.IdCoa.Substring(5, 2))
                                                            @item.IdLraNavigation.IdCoaNavigation.Uraian
                                                        </small>
                                                    </span>
                                                </td>
                                                <td align="right"><span><small>@String.Format("{0:N0}", item.Jumlah)</small></span></td>
                                            }
                                        </tr>
                                    }
                                    <tr class="tb-border--all tb-border tb-min-border" style="font-size: 14px; font-weight: 300;">
                                        <td colspan="4" align="center"><span><small>JUMLAH</small></span></td>
                                        <td align="right"><span><small>@String.Format("{0:N0}", Model.Where(d => d.IdLraNavigation.IdCoa.Substring(0, 3) == "411").Sum(d => d.Jumlah))</small></span></td>
                                        <td align="center"><span><small></small></span></td>
                                        <td align="right"><span><small>@String.Format("{0:N0}", Model.Where(d => d.IdLraNavigation.IdCoa.Substring(0, 3) == "412").Sum(d => d.Jumlah))</small></span></td>
                                        <td align="center"><span><small></small></span></td>
                                        <td align="right"><span><small>@String.Format("{0:N0}", Model.Where(d => d.IdLraNavigation.IdCoa.Substring(0, 3) != "411" && d.IdLraNavigation.IdCoa.Substring(0, 3) != "412").Sum(d => d.Jumlah))</small></span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" class="join break">
                                    <tr>
                                        <td colspan="2" style="padding-top: 20px;"></td>
                                    </tr>
                                    <tr style="font-size: 13px">
                                        <td width="80%"></td>
                                        <td align="center" width="20%">@Context.Session.GetString("Kecamatan"), @string.Format("{0:dd MMMM yyyy}", DateTime.Now)</td>
                                    </tr>
                                    <tr style="font-size: 13px">
                                        <td></td>
                                        <td align="center">@ViewBag.Jabatan</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="height: 60px;"></td>
                                    </tr>
                                    <tr style="font-size: 13px">
                                        <td></td>
                                        <td align="center" style="text-decoration: underline;">@ViewBag.TTD</td>
                                    </tr>
                                    <tr style="font-size: 13px">
                                        <td></td>
                                        <td align="center">NIP. @ViewBag.NIP</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
    </html>
