@model SIP.ViewModels.CetakSSPD

@{
    Layout = null;
}

<html lang="id">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/print-style.css" rel="stylesheet" />
    <link href="~/css/paper/F4.css" rel="stylesheet" />
    <style>
        .join {
            border-collapse: collapse;
        }

        .tb-square {
            border: solid 1px #000000;
            height: 19px;
            width: 20px;
            text-align: center;
        }

        .checkbox {
            border: solid 1px #000000;
            height: 19px;
            padding: 1px 5px;
            text-align: center;
        }

        .checkbox-non {
            border: solid 1px #000000;
            height: 19px;
            padding: 1px 9px;
            text-align: center;
        }

        .tb-detail {
            height: 30px;
            vertical-align: middle;
            font-size: 14px;
        }

        .tb-padding td {
            padding: 2px 20px;
            font-size: 14px;
        }
    </style>
    <!--begin::Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="~/media/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="~/media/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--end::Favicon -->
</head>

<body class="cetak">
    <div style="width: 100%;">
        <div align="center">
            <div class="F4">
                <table width="100%" cellspacing="0" cellpadding="0" class="report">
                    <tr>
                        <td><img class="logo-new" src="~/media/logos/logo.png" /></td>
                    </tr>
                    <tr style="font-size: 14px">
                        <td align="right"><span class="vis-print">@Model.Nomor</span></td>
                    </tr>
                </table>
                <table width="100%" cellspacing="0" cellpadding="0" style="width: 750px; color: #343030; border: 1px solid #000">
                    <tr>
                        <td width="5%"></td>
                        <td width="55%" class="tb-kanan cetak">
                            <table width="100%">
                                <tr>
                                    <td align="center" style="font-size: 17px; font-weight:600; padding-top: 5px"><span style="text-transform:uppercase;">@ViewBag.Title2</span></td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-size: 17px; font-weight:600"><span style="text-transform:uppercase;">@ViewBag.Title1</span></td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-size: 14px; "><span>@Context.Session.GetString("Opd")</span></td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-size: 14px; padding-bottom: 5px"><span>@Context.Session.GetString("Alamat")</span></td>
                                </tr>
                            </table>
                        </td>
                        <td width="40%">
                            <table width="100%">
                                <tr>
                                    <td align="center" style="font-weight: 600; font-size: 18px; padding-top: 5px"><span style="text-transform:uppercase;">SSPD</span></td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-size: 14px;"><span style="text-transform:uppercase;">(SURAT SETORAN PAJAK DAERAH)</span></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 5px">
                                        <table>
                                            <tr style="font-size:14px">
                                                <td style="padding-left: 105px">Tahun</td>
                                                <td>: <span class="vis-print">@string.Format("{0:yyyy}", Model.Tanggal)</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%" class="tb-join" cellspacing="0" cellpadding="0" style="width: 750px; padding: 5px 10px; color: #343030; border: 1px solid #000">
                    <tr>
                        <td>
                            <table class="table-borderless" width="100%" style="margin-top: 5px; font-size: 14px;">
                                <tr>
                                    <td width="22%" style="padding-left:29px; padding-top:10px;"><span>Nama/Usaha</span></td>
                                    <td width="78%" style="padding-top:10px;">: <span style="text-transform:uppercase;" class="vis-print"> @Model.Nama/@Model.Usaha</span></td>
                                </tr>
                                <tr>
                                    <td style="padding-left:29px; padding-top:12px;"><span>Alamat</span></td>
                                    <td style="padding-top:12px;">: <span style="text-transform:uppercase;" class="vis-print"> @Model.Alamat</span></td>
                                </tr>
                                <tr>
                                    <td style="padding-left:29px; padding-top:8px;"><span></span></td>
                                    <td style="padding-top:8px; padding-left:8px;"><span style="text-transform:uppercase;" class="vis-print"> @Model.Kelurahan @Model.Kecamatan</span></td>
                                </tr>
                                <tr>
                                    <td style="padding-left:29px; padding-top:8px;"><span>NPWPD</span></td>
                                    <td style="padding-top:8px;">
                                        <table class="join" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>: </td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(0, 1)</span></td>
                                                <td style="width:10px"></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(2, 1)</span></td>
                                                <td style="width:10px"></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(4, 1)</span></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(5, 1)</span></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(6, 1)</span></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(7, 1)</span></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(8, 1)</span></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(9, 1)</span></td>
                                                <td style="width:10px"></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(11, 1)</span></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(12, 1)</span></td>
                                                <td style="width:10px"></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(14, 1)</span></td>
                                                <td class="tb-square"><span class="vis-print">@Model.Npwpd.Substring(15, 1)</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:23px; vertical-align: top; font-size: 13px;"><span>Menyetor berdasarkan *)</span></td>
                                    <td style="padding-top: 22px;">
                                        <table width="100%" class="join" cellspacing="0" cellpadding="0" style=" font-size: 14px;">
                                            <tr>
                                                <td width="1%">:</td>
                                                <td width="34%"><span class="@(Model.Jenis == "SKPD" ? "checkbox" : "checkbox-non")"><span class="vis-print">@(Model.Jenis == "SKPD" ? "V" : "")</span></span><span style="padding-left: 5px">SKPD</span></td>
                                                <td width="40%"><span class="@(Model.Jenis == "STPD" ? "checkbox" : "checkbox-non")"><span class="vis-print">@(Model.Jenis == "STPD" ? "V" : "")</span></span><span style="padding-left: 5px">STPD</span></td>
                                                <td width="25%"><span class="checkbox-non"></span><span style="padding-left: 5px">LAIN-LAIN</span></td>
                                            </tr>
                                            <tr style="height: 40px;">
                                                <td></td>
                                                <td><span class="@(Model.Jenis == "SKPDT" ? "checkbox" : "checkbox-non")"><span class="vis-print">@(Model.Jenis == "SKPDT" ? "V" : "")</span></span><span style="padding-left: 5px">SKPDT</span></td>
                                                <td><span class="@(Model.Jenis == "SPTPD" ? "checkbox" : "checkbox-non")"><span class="vis-print">@(Model.Jenis == "SPTPD" ? "V" : "")</span></span><span style="padding-left: 5px">SPTPD</span></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><span class="@(Model.Jenis == "SKPDKB" ? "checkbox" : "checkbox-non")"><span class="vis-print">@(Model.Jenis == "SKPDKB" ? "V" : "")</span></span><span style="padding-left: 5px">SKPDKB</span></td>
                                                <td><span class="@(Model.Jenis == "SK PEMBETULAN" ? "checkbox" : "checkbox-non")"><span class="vis-print">@(Model.Jenis == "SK PEMBETULAN" ? "V" : "")</span></span><span style="padding-left: 5px">SK PEMBETULAN</span></td>
                                                <td></td>
                                            </tr>
                                            <tr style="height: 40px">
                                                <td></td>
                                                <td><span class="@(Model.Jenis == "SKPDKBT" ? "checkbox" : "checkbox-non")"><span class="vis-print">@(Model.Jenis == "SKPDKBT" ? "V" : "")</span></span><span style="padding-left: 5px">SKPDKBT</span></td>
                                                <td><span class="@(Model.Jenis == "SK KEBERATAN" ? "checkbox" : "checkbox-non")"><span class="vis-print">@(Model.Jenis == "SK KEBERATAN" ? "V" : "")</span></span><span style="padding-left: 5px">SK KEBERATAN</span></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <table width="100%" class="join" cellspacing="0" cellpadding="0" style="font-size: 14px;">
                                            <tr>
                                                <td width="29%">Masa Pajak : <span class="vis-print">@string.Format("{0:MMM}", Model.MasaPajak1) - @string.Format("{0:MMM}", Model.MasaPajak2)</span></td>
                                                <td width="18%">Tahun : <span class="vis-print">@string.Format("{0:yyyy}", Model.MasaPajak2)</span></td>
                                                <td width="53%">No : <span class="vis-print">@Model.NomorDok</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 6px">
                            <table class="join" cellspacing="0" cellpadding="0" width="100%">
                                <tr class="tb-border--all">
                                    <td align="center" width="6%" class="tb-detail"><strong>No.</strong></td>
                                    <td align="center" width="13%" class="tb-detail"><strong>Ayat</strong></td>
                                    <td align="center" width="47%" class="tb-detail"><strong>Jenis Pajak Daerah</strong></td>
                                    <td align="center" width="34%" class="tb-detail"><strong>Jumlah (Rp.)</strong></td>
                                </tr>
                                <tr class="tb-border tb-border--both">
                                    <td align="center" class="tb-detail vis-print">1.</td>
                                    <td class="tb-detail vis-print">@Model.KdCoa</td>
                                    <td class="tb-detail vis-print">@Model.Coa</td>
                                    <td align="right" class="tb-detail vis-print">@string.Format("{0:C0}", Model.Jumlah)</td>
                                </tr>
                                @if (Model.JumlahDenda != 0)
                                {
                                    <tr class="tb-border tb-border--both">
                                        <td align="center" class="tb-detail vis-print">2.</td>
                                        <td class="tb-detail vis-print">@Model.KdCoaDenda</td>
                                        <td class="tb-detail vis-print">@Model.CoaDenda</td>
                                        <td align="right" class="tb-detail vis-print">@string.Format("{0:C0}", Model.JumlahDenda)</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="tb-border tb-border--both">
                                        <td style="height:30px"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                                <tr class="tb-border tb-border--bottom-three">
                                    <td style="height:90px"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="tb-padding">
                                    <td></td>
                                    <td class="tb-kanan"></td>
                                    <td class="tb-detail tb-bawah tb-kanan">Jumlah Ketetapan Pokok</td>
                                    <td class="tb-kanan tb-bawah vis-print" align="right">@string.Format("{0:C0}", Model.Jumlah)</td>
                                </tr>
                                <tr class="tb-padding">
                                    <td></td>
                                    <td class="tb-kanan"></td>
                                    <td class="tb-detail tb-kanan tb-bawah"><span>Jumlah Sanksi</span></td>
                                    <td class="tb-kanan tb-bawah vis-print" align="right">@string.Format("{0:C0}", Model.JumlahDenda)</td>
                                </tr>
                                <tr class="tb-padding">
                                    <td></td>
                                    <td class="tb-kanan"></td>
                                    <td class="tb-detail tb-bawah tb-kanan">Jumlah Keseluruhan</td>
                                    <td class="tb-kanan tb-bawah vis-print" align="right">@string.Format("{0:C0}", Model.Terhutang)</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="height:35px"></td>
                                </tr>
                                <tr class="tb-padding">
                                    <td colspan="2">DENGAN HURUF</td>
                                    <td colspan="2" class="tb-atas tb-kanan tb-bawah tb-kiri tb-detail cetak-vis"><span class="vis-print" id="terbilang"></span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:35px">
                            <table width="100%" class="join" cellspacing="0" cellpadding="0" style="padding: 5px 10px; color: #343030; border: 1px solid #000">
                                <tr style="font-size: 14px;">
                                    <td width="30%" align="center" style="padding-top: 10px;">Ruang untuk Teraan</td>
                                    <td width="40%" align="center" style="padding-top: 10px;" class="tb-kanan tb-kiri">Diterima oleh,</td>
                                    <td width="30%" align="center" style="padding-top: 10px;"><span>@Context.Session.GetString("Kecamatan"), </span><span class="vis-print">@string.Format("{0:dd MMMM yyyy}", Model.Tanggal)</span></td>
                                </tr>
                                <tr style="font-size: 14px;">
                                    <td align="center">Kas Register/Tanda</td>
                                    <td align="center" class="tb-kanan tb-kiri vis-print">@ViewBag.Jabatan</td>
                                    <td align="center"><span>Penyetor,</span></td>
                                </tr>
                                <tr style="font-size: 14px;">
                                    <td align="center">Tangan/Cap</td>
                                    <td class="tb-kanan tb-kiri"></td>
                                    <td><span></span></td>
                                </tr>
                                <tr style="height: 60px">
                                    <td></td>
                                    <td class="tb-kanan tb-kiri"></td>
                                    <td></td>
                                </tr>
                                <tr style="font-size: 14px;">
                                    <td></td>
                                    <td align="center" class="tb-kanan tb-kiri"><span style="text-decoration:underline" class="vis-print">@ViewBag.TTD</span></td>
                                    <td align="center"><span class="vis-print">@Model.Nama</span></td>
                                </tr>
                                <tr style="font-size: 14px;">
                                    <td style="padding-bottom: 10px;"></td>
                                    <td align="center" style="padding-bottom: 10px;" class="tb-kanan tb-kiri vis-print">NIP. @ViewBag.NIP</td>
                                    <td style="padding-bottom: 10px;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px">
                            <table class="join" cellspacing="0" cellpadding="0" width="100%">
                                <tr class="tb-padding">
                                    <td width="15%"></td>
                                    <td width="70%" align="center" class="tb-atas tb-kanan tb-bawah tb-kiri tb-detail">PEMBAYARAN SAH, BILA TERDAPAT CAP ATAU TERAAN KAS REGISTER</td>
                                    <td width="15%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height: 180px; font-size: 14px;">
                        <td valign="bottom" style="padding-bottom: 30px;">*) Beri Tanda V Pada Kotak <span class="checkbox-non"></span><span style="padding-left: 5px">Sesuai dengan Ketetapan yang Dimiliki</span></td>
                    </tr>
                </table>
                <table width="100%" class="tb-join" cellspacing="0" cellpadding="0" style="width: 750px; padding: 5px 10px;">
                    <tr>
                        <td>
                            <span style="font-size: 13px; position: absolute; vertical-align: middle"><img src="~/media/logos/logo-sip.png" width="20" /><span style="padding-top: 10px; vertical-align: super"> Printed By: SIP</span></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="~/js/terbilang.js"></script>
    <script>
        document.getElementById("terbilang").innerHTML = (terbilang(@Math.Floor(Model.Terhutang ?? 0))) + "rupiah";
    </script>
</body>
</html>

