@model SIP.Models.Ssrdr

@{
    Layout = null;
    var no = 0;
}

<html lang="id">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/print-style.css" rel="stylesheet" />
    <link href="~/css/reporting/sptpd.css" rel="stylesheet" />
    <style>
        .join {
            border-collapse: collapse;
        }
    </style>
    <!--begin::Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="~/media/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="~/media/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--end::Favicon -->
</head>

<body style="font-family: open sans, tahoma, sans-serif; margin: 0; background-color:#c2c2c2; -webkit-print-color-adjust: exact">
    <div style="width: 100%;">
        <div align="center">
            <div style="box-shadow:10px;">
                <table width="100%" cellspacing="0" cellpadding="0" style="width: 800px; padding: 20px 30px; color: #343030; background-color:#FFF;">
                    <tr>
                        <td><img class="logo" src="~/media/logos/logo.png" /></td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table-borderless" width="100%" style="margin-top: 5px; font-size: 18px;">
                                <tr class="header">
                                    <td align="center" style="font-weight: 600"><span style="text-transform:uppercase;">@Context.Session.GetString("NamaPemda")</span></td>
                                </tr>
                                <tr class="header">
                                    <td align="center" valign="top" style="font-weight: 600">@Context.Session.GetString("Opd")</td>
                                </tr>
                                <tr class="header">
                                    <td align="center" valign="top" style=font-size: 16px;">@Context.Session.GetString("Alamat")</td>
                                </tr>
                                <tr>
                                    <td height="10px" class="tb-border--bottom"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%" border="0" style="margin-top: 5px; font-size: 16px; font-weight: 300;">
                                <tr>
                                    <td width="30%" align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span style="font-weight: 600"> SURAT SETORAN RETRIBUSI DAERAH REKAPITULASI (SSRDR)</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%" border="0" style="margin-top: 5px; font-size: 14px; font-weight: 300;">
                                <tr class="border-top-0">
                                    <td width="70%" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span style="font-weight: 600"> I. Identitas  Penyetor</span></td>
                                    <td width="30%" style="font-size: 14px;" align="right"><span class="vis-print"></span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%" border="0" style="margin-top: 5px; font-size: 14px; font-weight: 300;">
                                <tr class="table-borderless" style="font-size: 14px; font-weight: 300;">
                                    <td width="35%" style="padding: 2px 0px 0px 25px; font-size: 14px;"><span class="vis-print"></span>a. Nama Penyetor</td>
                                    <td width="65%"><span class="vis-print">: @Model.Nama</span></td>
                                </tr>
                                <tr class="table-borderless" style="font-size: 14px; font-weight: 300;">
                                    <td style="padding: 2px 0px 0px 25px; font-size: 14px;"><span class="vis-print">b. NIK</span></td>
                                    <td><span class="vis-print">: @Model.Nik</span></td>
                                </tr>
                                <tr class="border-top-0">
                                    <td colspan="2" style="padding: 10px 0px 2px 12px; font-size: 13px;"><span style="font-weight: 600"> II. Data Setoran</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%" border="0" style="margin-top: 5px; font-size: 14px; font-weight: 300;">
                                <tr class="table-borderless" style="font-size: 14px; font-weight: 300;">
                                    <td style="padding: 2px 0px 0px 25px; font-size: 14px;"><span class="vis-print">a. Jenis</span></td>
                                    <td><span class="vis-print">: @Model.IdCoaNavigation.Uraian</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%" style="margin-top: 5px; font-size: 14px; font-weight: 300;">
                                <tr class="tb-border--top" style="font-size: 14px; font-weight: 300;">
                                    <td width="10%" style="padding: 5px 0px 10px 12px; font-size: 14px;" align="center"><span>No.</span></td>
                                    <td width="25%" style="padding: 5px 0px 10px 12px; font-size: 14px;" align="center"><span>Kode Rekening</span></td>
                                    <td width="25%" style="padding: 5px 0px 10px 12px; font-size: 14px;" align="center"><span>Jenis</span></td>
                                    <td width="30%" style="padding: 5px 0px 10px 12px; font-size: 14px;" align="center"><span>Jumlah</span></td>
                                    <td width="30%" style="padding: 5px 0px 10px 12px; font-size: 14px;" align="center"><span>Total</span></td>
                                </tr>
                                @foreach (var item in (List<SsrdrDt>)ViewBag.Detail)
                                {
                                    <tr class="border-0" style="font-size: 14px; font-weight: 300;">
                                        <td align="center"><span>@(no+=1)</span></td>
                                        <td align="center"><span>@Model.IdCoa</span></td>
                                        <td align="center"><span>@item.IdTarifNavigation.Objek</span></td>
                                        <td align="center"><span>@item.Jumlah / @item.IdTarifNavigation.Satuan1</span></td>
                                        <td align="center"><span>Rp.@string.Format("{0:N0}", item.Total)</span></td>
                                    </tr>
                                }
                            </table>
                        <td style="height:10px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%" style="margin-top: 5px; font-size: 14px; font-weight: 300;">
                                <tr class="tb-border--top" style="font-size: 14px; font-weight: 300;">
                                    <td width="70%" style="padding: 5px 0px 10px 12px;" colspan="3" align="center"><span></span></td>
                                    <td width="10%" style="padding: 5px 0px 10px 12px;"><span>Total</span></td>
                                    <td width="20%" style="padding: 5px 0px 10px 12px;" align="right"><span>Rp.@string.Format("{0:N0}", Model.Total)</span>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%" style="margin-top: 5px; font-size: 14px; font-weight: 300;">
                                <tr class="border-bottom" style="padding: 2px 0px 2px 12px; font-size: 14px; font-weight: 300;">
                                    <td width="15%" style="padding: 2px 0px 2px 12px; font-size: 14px;" align="center"><span>Terbilang</span></td>
                                    <td width="85%" style="padding: 9px 30px; font-size: 14px;"><span style="text-transform:uppercase;" id="terbilang"></span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="join" width="100%">
                                <tr class="table-borderless">
                                    <td width="50%" align="center" style="height:32px;" font-size: 13px;"><span></span></td>
                                    <td width="50%" align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span></span></td>
                                </tr>
                                <tr class="table-borderless">
                                    <td align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span>Diterima oleh Petugas,</span></td>
                                    <td align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span>@Context.Session.GetString("Pemda"),  @String.Format("{0:dd MMMM yyyy}", Model.Tanggal)</span></td>
                                </tr>
                                <tr class="table-borderless">
                                    <td align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span>Tanggal @String.Format("{0:dd MMMM yyyy}", Model.Tanggal)</span></td>
                                    <td align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span>Wajib Pajak</span></td>
                                </tr>
                                <tr class="table-borderless tb-height--ttd">
                                    <td align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span></span></td>
                                    <td align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span></span></td>
                                </tr>
                                <tr class="table-borderless">
                                    <td align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span>@ViewBag.TTD</span></td>
                                    <td align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span>@Model.Nama</span></td>
                                </tr>
                                <tr class="table-borderless">
                                    <td align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span>NIP @ViewBag.NIP</span></td>
                                    <td align="center" style="padding: 2px 0px 2px 12px; font-size: 13px;"><span></span></td>
                                </tr>
                            </table>
                        <td style="height:32px;">
                </table>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/js/terbilang.js"></script>
<script>
        document.getElementById("terbilang").innerHTML = (terbilang(@Math.Floor(Model.Total ?? 0))) + "rupiah";
</script>