@model SIP.Models.Stts

@{
    Layout = null;
}

<html lang="id">

<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/print-style.css" rel="stylesheet" />
    <link href="~/css/reporting/stts.css" rel="stylesheet" />

    <style>
        .join {
            border-collapse: collapse;
        }

        .tb-square {
            border: solid 1px #000000;
            height: 19px;
            display: table-cell;
        }

        .tb-cust td {
            padding-left: 10px !important;
        }
    </style>
</head>

<body style="font-family: open sans, tahoma, sans-serif; margin: 0; background-color:#b2b2b2; -webkit-print-color-adjust: exact">
    <div style="width: 100%;" class="break">
        <div align="center">
            @*<div style="background: url(/assets/images/STTS.jpg) center no-repeat; background-position-y:top; background-position-x: 500px; background-size:525px; box-shadow:10px;">*@
            <div>
                <table width="100%" cellspacing="0" cellpadding="0" style="width: 525px; padding: 20px 30px; color: #343030; background-color:#FFF">
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="width: 100%; vertical-align: top; padding-bottom: 16px;">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="font-size: 12px;">
                                                    <span style="font-weight: 600">@Context.Session.GetString("NamaPemda")</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px;">
                                                    <span style="font-weight: 600">@Context.Session.GetString("Opd")</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="19%"></td>
                                                <td width="62%" class="tb-bawah" style="font-size: 14px; padding-bottom: 2px; border-bottom-width: 1px;" align="center">
                                                    <span style="font-weight: 600;">SURAT TANDA TERIMA SETORAN (STTS)</span>
                                                </td>
                                                <td width="19%"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:2px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Tempat Pembayaran</span></td>
                                                @if (Model.IdBank != null)
                                                {
                                                    <td width="75%">: <span class="vis-print">@Model.IdBankNavigation.NamaRek</span></td>
                                                }
                                                else
                                                {
                                                    <td width="75%">: <span class="vis-print">TUNAI</span></td>
                                                }
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="45%"><span>Telah menerima pembayaran PBB Th. </span></td>
                                                <td width="11%" class="tb-square" style="padding-left: 10px;"> <span class="vis-print">@Model.IdSpptNavigation.Tahun</span></td>
                                                <td width="44%" style="padding-left:5px"><span>dari:</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:1px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Nama Wajib Pajak </span></td>
                                                <td width="75%">: <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.IdSubjekNavigation.Nama.ToUpper()</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Letak Objek Pajak </span></td>
                                                <td width="75%">: Kecamatan <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.IndKecamatan.Kecamatan.ToUpper()</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"></td>
                                                <td width="75%">: Desa / Kel.  <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.IndKelurahan.Kelurahan.ToUpper()</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Nomor SPPT (NOP) </span></td>
                                                <td width="75%">: <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.Nop</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:4px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Sejumlah : Rp. </span></td>
                                                <td width="75%" class="tb-square" style="padding-left: 6px;"><span class="vis-print">@String.Format("{0:N0}", Model.TotalBayar)</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height:17px;"></tr>
                    <tr>
                        <td>
                            <table width="100%" class="join" cellspacing="0" cellpadding="0" style="font-size: 11px;">
                                <tr class="tb-border--both tb-cust tb-border--top-three">
                                    <td colspan="4" style="padding-top: 4px; line-height: 13px;">
                                        Tanggal Jatuh Tempo: @String.Format("{0:dd MMM yyyy}", Model.TanggalValidasi.Value.AddDays(30))<br />
                                        Jumlah yang harus dibayar (termasuk denda) jika pembayaran dilakukan<br />
                                        dilakukan pada bulan ke (setelah tanggal jatuh tempo) :
                                    </td>
                                </tr>
                                @foreach (var i in ViewBag.Roman)
                                {
                                    <tr class="tb-border--both tb-cust">
                                        <td style="padding-bottom:0.35em;" width="10%">@i.Text</td>
                                        <td style="padding-bottom:0.35em;" width="40%"></td>
                                        <td style="padding-bottom:0.35em;" width="10%">@i.Value</td>
                                        <td style="padding-bottom:0.35em;" width="40%"></td>
                                    </tr>
                                }
                                <tr class="tb-border--bottom-three tb-cust">
                                    <td style="padding-bottom:3px;" width="10%">XII</td>
                                    <td style="padding-bottom:3px;" width="40%"></td>
                                    <td style="padding-bottom:3px;" width="10%">XXIV</td>
                                    <td style="padding-bottom:3px;" width="40%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                <tr style="font-size: 12px;">
                                    <td width="25%"><span>Tanggal Pembayaran </span></td>
                                    <td width="33%">: <span class="vis-print" style="text-transform:uppercase">@String.Format("{0:dd MMM yyyy}", Model.TanggalBayar)</span></td>
                                    <td width="24%">L.T : <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.LuasTanah</span></td>
                                    <td width="23%" align="center" class="tb-kiri"><span>Tanda Terima</span></td>
                                </tr>
                                <tr style="font-size: 12px;">
                                    <td><span>Jumlah yang dibayar </span></td>
                                    <td>: </td>
                                    <td>L.B : <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.Lspop.FirstOrDefault().Luas</span></td>
                                    <td align="center" class="tb-kiri"><span>dan</span></td>
                                </tr>
                                <tr style="font-size: 12px;">
                                    <td align="right" style="padding-right:5px;"><span>Rp.</span></td>
                                    <td colspan="2" style="padding-left: 10px;"> <span class="vis-print tb-square" style="padding-left:10px; vertical-align: inherit; min-width: 230px;">@String.Format("{0:N0}", Model.TotalBayar)</span></td>
                                    <td width="23%" align="center" class="tb-kiri"><span>Cap Bank/TP</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height:7px"><td class="tb-bawah" style="border-bottom-style:dashed"></td></tr>
                    <tr style="height:18px"></tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="width: 100%; vertical-align: top; padding-bottom: 16px;">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="font-size: 12px;">
                                                    <span style="font-weight: 600">@Context.Session.GetString("NamaPemda")</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px;">
                                                    <span style="font-weight: 600">@Context.Session.GetString("Opd")</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="19%"></td>
                                                <td width="62%" class="tb-bawah" style="font-size: 14px; padding-bottom: 2px; border-bottom-width: 1px;" align="center">
                                                    <span style="font-weight: 600;">SURAT TANDA TERIMA SETORAN (STTS)</span>
                                                </td>
                                                <td width="19%"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:2px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Tempat Pembayaran</span></td>
                                                @if (Model.IdBank != null)
                                                {
                                                    <td width="75%">: <span class="vis-print">@Model.IdBankNavigation.NamaRek</span></td>
                                                }
                                                else
                                                {
                                                    <td width="75%">: <span class="vis-print">TUNAI</span></td>
                                                }
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="45%"><span>Telah menerima pembayaran PBB Th. </span></td>
                                                <td width="11%" class="tb-square" style="padding-left: 10px;"> <span class="vis-print">@Model.IdSpptNavigation.Tahun</span></td>
                                                <td width="44%" style="padding-left:5px"><span>dari:</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:1px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Nama Wajib Pajak </span></td>
                                                <td width="75%">: <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.IdSubjekNavigation.Nama.ToUpper()</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Letak Objek Pajak </span></td>
                                                <td width="75%">: Kecamatan <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.IndKecamatan.Kecamatan.ToUpper()</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"></td>
                                                <td width="75%">: Desa / Kel.  <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.IndKelurahan.Kelurahan.ToUpper()</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Nomor SPPT (NOP) </span></td>
                                                <td width="75%">: <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.Nop</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:4px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Sejumlah : Rp. </span></td>
                                                <td width="75%" class="tb-square" style="padding-left: 6px;"><span class="vis-print">@String.Format("{0:N0}", Model.TotalBayar)</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                <tr style="font-size: 12px;">
                                    <td width="25%"><span>Tanggal Pembayaran </span></td>
                                    <td width="57%">: <span class="vis-print" style="text-transform:uppercase">@String.Format("{0:dd MMM yyyy}", Model.TanggalBayar)</span></td>
                                    <td width="23%" align="center" class="tb-kiri"><span>Tanda Terima</span></td>
                                </tr>
                                <tr style="font-size: 12px;">
                                    <td><span>Jumlah yang dibayar </span></td>
                                    <td><span>: Rp. <span class="vis-print tb-square" style="padding-left:10px; vertical-align: inherit; min-width: 210px;">@String.Format("{0:N0}", Model.TotalBayar)</span></span></td>
                                    <td align="center" class="tb-kiri"><span>dan</span></td>
                                </tr>
                                <tr style="font-size: 12px;">
                                    <td colspan="2"><span>Lembar untuk (DPPKAD)</span></td>
                                    <td align="center" class="tb-kiri"><span>Cap Bank/TP</span></td>
                                </tr>
                                <tr style="font-size: 10px;">
                                    <td colspan="3" style="padding-top:0"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height:150px;"></tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                <tr style="font-size: 12px;">
                                    <td width="25%"><span>Tanggal Pembayaran </span></td>
                                    <td width="57%">: <span class="vis-print" style="text-transform:uppercase">@String.Format("{0:dd MMM yyyy}", Model.TanggalBayar)</span></td>
                                    <td width="23%" align="center" class="tb-kiri"><span>Tanda Terima</span></td>
                                </tr>
                                <tr style="font-size: 12px;">
                                    <td><span>Jumlah yang dibayar </span></td>
                                    <td><span>: Rp. <span class="vis-print tb-square" style="padding-left:10px; vertical-align: inherit; min-width: 210px;">@String.Format("{0:N0}", Model.TotalBayar)</span></span></td>
                                    <td align="center" class="tb-kiri"><span>dan</span></td>
                                </tr>
                                <tr style="font-size: 12px;">
                                    <td colspan="2"><span>Lembar untuk Bendahara</span></td>
                                    <td align="center" class="tb-kiri"><span>Cap Bank/TP</span></td>
                                </tr>
                                <tr style="font-size: 10px;">
                                    <td colspan="3" style="padding-top:0"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height:7px;"><td class="tb-bawah" style="border-bottom-style:dashed"></td></tr>
                    <tr style="height:23px;"></tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="width: 100%; vertical-align: top; padding-bottom: 16px;">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="font-size: 12px;">
                                                    <span style="font-weight: 600">@Context.Session.GetString("NamaPemda")</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px;">
                                                    <span style="font-weight: 600">@Context.Session.GetString("Opd")</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="19%"></td>
                                                <td width="62%" class="tb-bawah" style="font-size: 14px; padding-bottom: 2px; border-bottom-width: 1px;" align="center">
                                                    <span style="font-weight: 600;">SURAT TANDA TERIMA SETORAN (STTS)</span>
                                                </td>
                                                <td width="19%"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:2px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Tempat Pembayaran</span></td>
                                                @if (Model.IdBank != null)
                                                {
                                                    <td width="75%">: <span class="vis-print">@Model.IdBankNavigation.NamaRek</span></td>
                                                }
                                                else
                                                {
                                                    <td width="75%">: <span class="vis-print">TUNAI</span></td>
                                                }
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="45%"><span>Telah menerima pembayaran PBB Th. </span></td>
                                                <td width="11%" class="tb-square" style="padding-left: 10px;"> <span class="vis-print">@Model.IdSpptNavigation.Tahun</span></td>
                                                <td width="44%" style="padding-left:5px"><span>dari:</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:1px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Nama Wajib Pajak </span></td>
                                                <td width="75%">: <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.IdSubjekNavigation.Nama.ToUpper()</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Letak Objek Pajak </span></td>
                                                <td width="75%">: Kecamatan <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.IndKecamatan.Kecamatan.ToUpper()</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"></td>
                                                <td width="75%">: Desa / Kel.  <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.IndKelurahan.Kelurahan.ToUpper()</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Nomor SPPT (NOP) </span></td>
                                                <td width="75%">: <span class="vis-print">@Model.IdSpptNavigation.IdSpopNavigation.Nop</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:4px;">
                                            <tr style="font-size: 12px;">
                                                <td width="25%"><span>Sejumlah : Rp. </span></td>
                                                <td width="75%" class="tb-square" style="padding-left: 6px;"><span class="vis-print">@String.Format("{0:N0}", Model.TotalBayar)</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" style="padding-top:5px;">
                                <tr style="font-size: 12px;">
                                    <td width="25%"><span>Tanggal Pembayaran </span></td>
                                    <td width="57%">: <span class="vis-print" style="text-transform:uppercase">@String.Format("{0:dd MMM yyyy}", Model.TanggalBayar)</span></td>
                                    <td width="23%" align="center" class="tb-kiri"><span>Tanda Terima</span></td>
                                </tr>
                                <tr style="font-size: 12px;">
                                    <td><span>Jumlah yang dibayar </span></td>
                                    <td><span>: Rp. <span class="vis-print tb-square" style="padding-left:10px; vertical-align: inherit; min-width: 210px;">@String.Format("{0:N0}", Model.TotalBayar)</span></span></td>
                                    <td align="center" class="tb-kiri"><span>dan</span></td>
                                </tr>
                                <tr style="font-size: 12px;">
                                    <td colspan="2"><span>Lembar untuk Bank</span></td>
                                    <td align="center" class="tb-kiri"><span>Cap Bank/TP</span></td>
                                </tr>
                                <tr style="font-size: 10px;">
                                    <td colspan="3" style="padding-top:0"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script src="~/js/terbilang.js"></script>
}