@model SIP.Models.Skpdkb

@{
    ViewBag.Title = "Detail SKPDKB";
    ViewBag.SubHeaderTitle = "SKPDKB";
    ViewBag.S1 = "Detail";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<div class="row justify-content-center">
    <div class="col-lg-3">
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head kt-ribbon @ViewBag.State kt-ribbon--left kt-ribbon--round">
                <div class="kt-ribbon__target" style="top: 10px; right: -2px;">@ViewBag.Status</div>
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Detail SKPDKB
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget kt-widget--user-profile-2">
                    <div class="kt-widget__body">
                        <div class="kt-widget__item kt-padding-t-0">
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Jenis Pajak</span>
                                <span class="kt-widget__data kt-align-right">@Model.IdSptpdNavigation.IdCoaNavigation.Uraian</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Nomor</span>
                                <span class="kt-widget__data kt-align-right">@Model.NoSkpdkb</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Tanggal</span>
                                <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.Tanggal)</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Jatuh Tempo</span>
                                <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.JatuhTempo)</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label"></span>
                                <span class="kt-widget__data kt-align-right">
                                    @if (Model.FlagValidasi)
                                    {
                                        <span><span class="kt-badge kt-badge--success kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-success">Valid</span></span>
                                    }
                                    else
                                    {
                                        <span><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Belum Valid</span></span>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Perhitungan
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item kt-padding-t-0">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Nomor SPTPD</span>
                                        <span class="kt-widget__data kt-align-right">@Model.IdSptpdNavigation.NoSptpd</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Tanggal SPTPD</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.IdSptpdNavigation.Tanggal)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Masa Pajak</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:MMMM yyyy}", Model.IdSptpdNavigation.MasaPajak1)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Jenis</span>
                                        @if (Model.IdSptpdNavigation.Jabatan)
                                        {
                                            <span><span class="kt-badge kt-badge--warning kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-warning">Official</span></span>
                                        }
                                        else
                                        {
                                            <span><span class="kt-badge kt-badge--success kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-success">Self Assessment</span></span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item kt-padding-t-0">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Pajak Terhutang</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.IdSptpdNavigation.Terhutang)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Kredit</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.IdSptpdNavigation.KreditPajak)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Sisa Hutang</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.PokokPajak)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--space-sm "></div>
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Pokok Pajak</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.PokokPajak)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Kompensasi Kelebihan</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.KompKelebihan)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Lainnya</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Lainnya)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Sub Total</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.KurangBayar)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Denda 2%/Bulan</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Bunga)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Kenaikan</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Kenaikan)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Terhutang</span>
                                        <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Terhutang)</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label"></span>
                                        <span class="kt-widget__data kt-align-right" id="terbilang"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions kt-align-right">
                    <a asp-action="SKPDKB" asp-controller="Penetapan" asp-route-id="@Model.IdSptpd" class="btn btn-secondary">Kembali</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/terbilang.js"></script>
    <script>
        document.getElementById("terbilang").innerHTML = (terbilang(@Math.Floor(Model.Terhutang ?? 0))) + "rupiah";
    </script>
}
