@model NUNA.Models.BaseApplicationContext.MS_EmailSender

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MS_EmailSender</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmtpHost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmtpHost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmtpPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmtpPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmtpUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmtpUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmtpCred)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmtpCred)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationUser)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
