@model IEnumerable<NUNA.Models.BaseApplicationContext.MS_EmailSender>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmtpHost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmtpPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmtpUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmtpCred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmtpHost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmtpPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmtpUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmtpCred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
