@model IEnumerable<SIP.Models.Spop>

@{
    ViewBag.Title = "SPOP";
    ViewBag.SubHeaderTitle = "SPOP - PBB";
    ViewBag.S1 = "";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<div class="row justify-content-center">
    <div class="col-lg-3 order-2">
        @await Component.InvokeAsync("DetailSubjek", new { id = ViewBag.IdSubjek, edit = false })
    </div>
    <div class="col-lg-8 order-1">
        <!--begin::Portlet-->
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.SubHeaderTitle
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-group">
                        <a href="javascript:;" onclick="ShowModal();" class="btn btn-bold btn-label-success btn-sm"><i class="la la-search"></i> Cari Data</a>
                        <a asp-controller="SPOP" asp-action="Create" asp-route-id="@ViewBag.IdSubjek" class="btn btn-bold btn-label-brand btn-sm"><i class="la la-plus"></i> Tambah Data</a>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right kt-margin-t-10 kt-margin-b-10 kt-margin-5-mobile">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                <div class="col-sm-2 col-1 kt-margin-b-10-mobile order-2 order-sm-1 length">
                                    <div class="kt-form__group">
                                        <select class="form-control kt-selectpicker" id="length">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-auto order-3 order-sm-2 kt-margin-b-10-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Search..." id="search">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover dt-custom" id="m_table">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                No Objek Pajak
                            </th>
                            <th>
                                Zona
                            </th>
                            <th>
                                NJOP
                            </th>
                            <th>
                                Letak
                            </th>
                            <th>
                                Kecamatan
                            </th>
                            <th>
                                Kelurahan
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Kelola
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td nowrap>
                                    @Html.DisplayFor(modelItem => item.Nop)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Zona)
                                </td>
                                <td nowrap>
                                    @string.Format("{0:C0}", item.Njop)
                                </td>
                                <td nowrap>
                                    @item.NamaJalan
                                </td>
                                <td>
                                    @item.IndKecamatan.Kecamatan
                                </td>
                                <td>
                                    @item.IndKelurahan.Kelurahan
                                </td>
                                <td nowrap>
                                    @Html.DisplayFor(modelItem => item.FlagValidasi)
                                </td>
                                <td nowrap>
                                    <span style="overflow: visible; position: relative;">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-label-success" data-toggle="dropdown" aria-expanded="false"> Kelola </a>
                                            <span class="dropdown-menu dropdown-menu-right">
                                                @if (item.FlagValidasi)
                                                {
                                                    <a class="dropdown-item" asp-action="SPPT" asp-route-id="@item.IdSpop"><i class="la la-calendar-plus-o"></i> Buat SPPT</a>
                                                }
                                                <a class="dropdown-item" asp-action="LSPOP" asp-route-id="@item.IdSpop"><i class="la la-building-o"></i> Buat LSPOP</a>
                                                <a class="dropdown-item" asp-action="Details" asp-controller="SPOP" asp-route-id="@item.IdSpop"><i class="la la-external-link-square"></i> Detail SPOP</a>
                                                @if (item.FlagValidasi)
                                                {
                                                    <a class="dropdown-item" asp-action="NJOP" asp-controller="SPOP" asp-route-id="@item.IdSpop"><i class="la la-money"></i> Ubah NJOP Bumi</a>
                                                    @if (item.Sppt.FirstOrDefault(d => d.IdSpop == item.IdSpop) == null)
                                                    {
                                                        <a class="dropdown-item" asp-action="Validasi" asp-controller="SPOP" asp-route-id="@item.IdSpop"><i class="la la-times-circle"></i> Batalkan Validasi</a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item" asp-action="Edit" asp-controller="SPOP" asp-route-id="@item.IdSpop"><i class="la la-edit"></i> Edit SPOP</a>
                                                    <a class="dropdown-item" asp-action="NOP" asp-controller="SPOP" asp-route-id="@item.IdSpop"><i class="la la-flag-o"></i> Edit NOP</a>
                                                    <a class="dropdown-item" asp-action="Validasi" asp-controller="SPOP" asp-route-id="@item.IdSpop"><i class="la la-check-circle"></i> Validasi SPOP</a>
                                                    @if (item.Lspop.FirstOrDefault(d => d.IdSpop == item.IdSpop) == null)
                                                    {
                                                        <a mini-modal class="dropdown-item" asp-action="Delete" asp-controller="SPOP" asp-route-id="@item.IdSpop"><i class="la la-trash"></i> Hapus SPOP</a>
                                                    }
                                                }
                                            </span>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

<div class="modal fade" id="BigModal" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-auto order-3 order-sm-2 kt-margin-b-10-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Search..." id="searchSubjek">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <table id="dataSubjek" class="table table-hover dt-custom table-responsive-sm table-responsive-md">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>
                                        Nama
                                    </th>
                                    <th>
                                        NIK/NPWP
                                    </th>
                                    <th>
                                        NPWPD
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        function ShowModal() {
            $("#BigModal").modal();
        };

        var DatatablesBasicScrollable = function () {
            var initTable = function () {
                var table = $('#m_table');
                table.DataTable({
                    searching: true,
                    bJQueryUI: true,
                    bFilter: true,
                    dom: "<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    scrollY: '60vh',
                    scrollX: true,
                    scrollCollapse: true,
                    columnDefs: [
                        {
                            targets: 0,
                            orderable: false,
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            targets: -1,
                            width: 100,
                            className: "dt-center"
                        }, {
                            targets: 7,
                            render: function (data, type, full, meta) {
                            var status = {
                                "0": {
                                    'title': 'Belum Valid',
                                    'state': 'danger'
                                },
                                "1": {
                                    'title': 'Valid',
                                    'state': 'success'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="kt-badge kt-badge--' + status[data].state + ' kt-badge--dot"></span>&nbsp;' +
                                '<span class="kt-font-bold kt-font-' + status[data].state + '">' + status[data].title + '</span>';
                        }
                    }]
                });

                $('#m_table').DataTable().on('order.dt search.dt', function () {
                    $('#m_table').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                        $('#m_table').DataTable().cell(cell).invalidate('dom');
                    });
                }).draw();

                $('#length').on('change', function () {
                    var selectedValue = $(this).val();
                    $('#m_table').DataTable().page.len(selectedValue).draw();
                });

                $("#search").on('keyup', function () {
                    $('#m_table').dataTable().fnFilter(this.value);
                });

                $('.dataTables_scrollBody').css('min-height', '150px');
            };

            return {
                init: function () {
                    initTable();
                },
            };

        }();

        var DatatablesAjaxServer = function () {

            var initTable1 = function () {
                var table = $('#dataSubjek');

                // begin first table
                table.DataTable({
                    responsive: true,
                    searchDelay: 500,
                    processing: true,
                    serverSide: true,
                    searching: true,
                    bJQueryUI: true,
                    bFilter: true,
                    bSort: true,
                    dom: "<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'>>",
                    "ajaxSource": "/AjaxData/GetSubjekDetail",
                    fnServerData: function (sSource, aoData, fnCallback) {
                        aoData.push({ "name": "all", "value": true });
                        $.getJSON(sSource, aoData, function (json) {
                            fnCallback(json)
                        });
                    },
                    columns: [
                        { data: 'id' },
                        { data: 'nama' },
                        { data: 'nik' },
                        { data: 'npwpd' },
                        { data: 'status' },
                        { data: 'id' },
                    ],
                    columnDefs: [
                        {
                            targets: -1,
                            title: '',
                            orderable: false,
                            render: function (data, type, full, meta) {
                                return `<a href="/PBB/SPOP/` + data + `" class="btn btn-sm btn-label-success">Pilih <i class="la la-arrow-circle-right"></i></a>`;
                            },
                        },{
                            targets: 2,
                            orderable: false,
                            render: function (data, type, full, meta) {
                                if (full['nik'] != null) {
                                    return full['nik'];
                                }
                                else {
                                    return full['npwp'];
                                }
                            }
                        },{
                            targets: 4,
                            render: function (data, type, full, meta) {
                                var status = {
                                    "0": {
                                        'title': 'Non Aktif',
                                        'state': 'danger'
                                    },
                                    "1": {
                                        'title': 'Aktif',
                                        'state': 'success'
                                    }
                                };
                                if (typeof status[data] === 'undefined') {
                                    return data;
                                }
                                return '<span class="kt-badge kt-badge--' + status[data].state + ' kt-badge--dot"></span>&nbsp;' +
                                    '<span class="kt-font-bold kt-font-' + status[data].state + '">' + status[data].title + '</span>';
                            }
                        }
                    ],
                });

                table.DataTable().on('order.dt search.dt', function () {
                    table.DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                        table.DataTable().cell(cell).invalidate('dom');
                    });
                }).draw();

                $("#searchSubjek").on('keyup', function () {
                    table.dataTable().fnFilter(this.value);
                });
            };

            return {

                //main function to initiate the module
                init: function () {
                    initTable1();
                },

            };

        }();

        jQuery(document).ready(function () {
            DatatablesBasicScrollable.init();
            DatatablesAjaxServer.init();
        });

    </script>
}