@model IEnumerable<SIP.Models.Sppt>

@{
    ViewBag.Title = "SPPT";
    ViewBag.SubHeaderTitle = "SPPT - PBB";
    ViewBag.S1 = "";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<div class="row justify-content-center">
    <div class="col-lg-3 order-2">
        @await Component.InvokeAsync("DetailSPOP", new { id = ViewBag.IdSpop })
    </div>
    <div class="col-lg-8 order-1">
        <!--begin::Portlet-->
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.SubHeaderTitle
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-group">
                        <a asp-controller="PBB" asp-action="SPOP" asp-route-id="@ViewBag.IdSubjek" class="btn btn-bold btn-label-success btn-sm"><i class="la la-undo"></i> SPOP</a>
                        <a asp-controller="SPPT" asp-action="Create" asp-route-id="@ViewBag.IdSpop" class="btn btn-bold btn-label-brand btn-sm"><i class="la la-plus"></i> Tambah Data</a>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right kt-margin-t-10 kt-margin-b-10 kt-margin-5-mobile">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                <div class="col-sm-2 col-1 kt-margin-b-10-mobile order-2 order-sm-1 length">
                                    <div class="kt-form__group">
                                        <select class="form-control kt-selectpicker" id="length">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-auto order-3 order-sm-2 kt-margin-b-10-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Search..." id="search">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover dt-custom" id="m_table">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Tahun
                            </th>
                            <th>
                                Tanggal
                            </th>
                            <th>
                                Total NJOP
                            </th>
                            <th>
                                Terhutang
                            </th>
                            <th>
                                Validasi
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Kelola
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td nowrap>
                                    @Html.DisplayFor(modelItem => item.Tahun)
                                </td>
                                <td>
                                    @string.Format("{0:dd MMMM yyyy}", item.Tanggal)
                                </td>
                                <td nowrap>
                                    @string.Format("{0:C0}", item.Njophitung)
                                </td>
                                <td nowrap>
                                    @string.Format("{0:C0}", item.Terhutang)
                                </td>
                                <td nowrap>
                                    @Html.DisplayFor(modelItem => item.FlagValidasi)
                                </td>
                                <td nowrap>
                                    @Html.DisplayFor(modelItem => item.Keterangan)
                                </td>
                                <td nowrap>
                                    <span style="overflow: visible; position: relative;">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-label-success" data-toggle="dropdown" aria-expanded="false"> Kelola </a>
                                            <span class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" asp-action="Details" asp-controller="SPPT" asp-route-id="@item.IdSppt"><i class="la la-external-link-square"></i> Detail SPPT</a>
                                                @if (item.FlagValidasi)
                                                {
                                                    @if (item.Stts.FirstOrDefault(d => d.IdSppt == item.IdSppt) == null)
                                                    {
                                                        <a target="_blank" class="dropdown-item" asp-action="Cetak" asp-controller="SPPT" asp-route-id="@item.IdSppt"><i class="la la-print"></i> Cetak SPPT</a>
                                                        <a class="dropdown-item" asp-action="Validasi" asp-controller="SPPT" asp-route-id="@item.IdSppt"><i class="la la-times-circle"></i> Batalkan Validasi</a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item" asp-action="Validasi" asp-controller="SPPT" asp-route-id="@item.IdSppt"><i class="la la-check-circle"></i> Validasi SPPT</a>
                                                    <a class="dropdown-item" asp-action="Edit" asp-controller="SPPT" asp-route-id="@item.IdSppt"><i class="la la-edit"></i> Edit SPPT</a>
                                                    <a mini-modal class="dropdown-item" asp-action="Delete" asp-controller="SPPT" asp-route-id="@item.IdSppt"><i class="la la-trash"></i> Hapus SPPT</a>
                                                }
                                            </span>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section Scripts {
    <script>

        var DatatablesBasicScrollable = function () {
            var initTable = function () {
                var table = $('#m_table');
                table.DataTable({
                    searching: true,
                    bJQueryUI: true,
                    bFilter: true,
                    dom: "<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    scrollY: '60vh',
                    scrollX: true,
                    scrollCollapse: true,
                    columnDefs: [{
                        targets: 0,
                        width: 15,
                        className: "dt-center"
                    }, {
                        targets: -1,
                        width: 100,
                        className: "dt-center"
                    }, {
                        targets: 5,
                        render: function (data, type, full, meta) {
                            var status = {
                                "0": {
                                    'title': 'Belum Valid',
                                    'state': 'danger'
                                },
                                "1": {
                                    'title': 'Valid',
                                    'state': 'success'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="kt-badge kt-badge--' + status[data].state + ' kt-badge--dot"></span>&nbsp;' +
                                '<span class="kt-font-bold kt-font-' + status[data].state + '">' + status[data].title + '</span>';
                        }
                    }, {
                        targets: 6,
                        render: function (data, type, full, meta) {
                            var status = {
                                0: {
                                    'title': 'Belum Bayar',
                                    'state': 'danger',
                                    'icon': 'times'
                                },
                                1: {
                                    'title': 'Lunas',
                                    'state': 'success',
                                    'icon': 'check'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="kt-font-bold kt-font-' + status[data].state + '"><i class="fa fa-' + status[data].icon + '"></i> ' + status[data].title + '</span>';
                        }
                    }]
                });

                $('#m_table').DataTable().on('order.dt search.dt', function () {
                    $('#m_table').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                        $('#m_table').DataTable().cell(cell).invalidate('dom');
                    });
                }).draw();

                $('#length').on('change', function () {
                    var selectedValue = $(this).val();
                    $('#m_table').DataTable().page.len(selectedValue).draw();
                });

                $("#search").on('keyup', function () {
                    $('#m_table').dataTable().fnFilter(this.value);
                });

                $('.dataTables_scrollBody').css('min-height', '150px');
            };

            return {
                init: function () {
                    initTable();
                },
            };

        }();

        jQuery(document).ready(function () {
            DatatablesBasicScrollable.init();
        });

    </script>
}