@model IEnumerable<SIP.Models.Stts>

@{
    ViewBag.Title = "STTS";
    ViewBag.SubHeaderTitle = "STTS - PBB";
    ViewBag.S1 = "";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<div class="row justify-content-center">
    <div class="col-lg-3 order-2">
        @await Component.InvokeAsync("DetailSubjek", new { id = ViewBag.IdSubjek, edit = false })
    </div>
    <div class="col-lg-8 order-1">
        <!--begin::Portlet-->
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Data STTS
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-pills nav-pills-sm" role="tablist">
                        @if (ViewBag.List > 0)
                        {
                            <li class="nav-item">
                                <a class="btn btn-bold btn-info btn-sm" href="javascript:;" onclick="ShowModalSPPT();">
                                    <i class="la la-map"></i> Data SPPT
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-bold btn-label-google-o2 btn-sm">
                                    <i class="la la-map"></i> Data SPPT
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link btn btn-bold btn-label-success btn-sm" href="javascript:;" onclick="ShowModal();">
                                <i class="la la-search"></i> Cari Data
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right kt-margin-t-10 kt-margin-b-10 kt-margin-5-mobile">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                <div class="col-sm-2 col-1 kt-margin-b-10-mobile order-2 order-sm-1 length">
                                    <div class="kt-form__group">
                                        <select class="form-control kt-selectpicker" id="length">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-auto order-3 order-sm-2 kt-margin-b-10-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Search..." id="search">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12 order-1 order-sm-3 kt-margin-b-10-mobile">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label">
                                            <label>Status:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control kt-selectpicker" id="status">
                                                <option value=" ">Semua</option>
                                                <option value="1">Valid</option>
                                                <option value="0">Belum Valid</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover dt-custom table-responsive-sm" id="SttsTable">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                No Objek Pajak
                            </th>
                            <th>
                                Tahun
                            </th>
                            <th>
                                Letak
                            </th>
                            <th>
                                Tanggal Bayar
                            </th>
                            <th>
                                Total Bayar
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Kelola
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdSpptNavigation.IdSpopNavigation.Nop)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdSpptNavigation.IdSpopNavigation.Tahun)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdSpptNavigation.IdSpopNavigation.NamaJalan)
                                </td>
                                <td>
                                    @String.Format("{0:dd MMMM yyyy}", item.TanggalBayar)
                                </td>
                                <td>
                                    @String.Format("{0:C0}", item.TotalBayar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FlagValidasi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FlagValidasi)
                                </td>
                                <td nowrap>
                                    <span style="overflow: visible; position: relative;">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-label-success" data-toggle="dropdown" aria-expanded="false"> Kelola </a>
                                            <span class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" asp-action="Details" asp-controller="STTS" asp-route-id="@item.IdStts"><i class="la la-external-link-square"></i> Detail STTS</a>
                                                @if (item.FlagValidasi)
                                                {
                                                    <a class="dropdown-item" asp-action="Cetak" asp-controller="STTS" asp-route-id="@item.IdStts"><i class="la la-print"></i> Cetak STTS</a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item" asp-action="Edit" asp-controller="STTS" asp-route-id="@item.IdStts"><i class="la la-edit"></i> Edit STTS</a>
                                                    <a class="dropdown-item" asp-action="Validasi" asp-controller="STTS" asp-route-id="@item.IdStts"><i class="la la-check-circle"></i> Validasi STTS</a>
                                                    <a mini-modal class="dropdown-item" asp-action="Delete" asp-controller="STTS" asp-route-id="@item.IdStts"><i class="la la-trash"></i> Hapus STTS</a>
                                                }
                                            </span>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

<div class="modal fade" id="SPPTModal" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover dt-custom table-responsive-sm" id="SpptTable">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    NOP
                                </th>
                                <th>
                                    Tahun
                                </th>
                                <th>
                                    Lokasi
                                </th>
                                <th>
                                    Total NJOP
                                </th>
                                <th>
                                    Terhutang
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Kelola
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sppt in (List<Sppt>)ViewBag.Sppt)
                            {
                                <tr>
                                    <td></td>
                                    <td nowrap>
                                        @sppt.IdSpopNavigation.Nop
                                    </td>
                                    <td nowrap>
                                        @sppt.Tahun
                                    </td>
                                    <td>
                                        @sppt.IdSpopNavigation.NamaJalan
                                    </td>
                                    <td nowrap>
                                        @string.Format("{0:C0}", sppt.Njophitung)
                                    </td>
                                    <td nowrap>
                                        @string.Format("{0:C0}", sppt.Terhutang)
                                    </td>
                                    <td nowrap>
                                        @sppt.Keterangan
                                    </td>
                                    <td nowrap>
                                        <a target="_blank" asp-action="Details" asp-controller="SPPT" asp-route-id="@sppt.IdSppt" class="btn btn-sm btn-label-info btn-icon btn-icon-md" title="Details"><i class="la la-external-link"></i></a>
                                        <a asp-action="Create" asp-controller="STTS" asp-route-id="@sppt.IdSppt" class="btn btn-sm btn-label-success btn-icon btn-icon-md" title="Buat SKPDKB"><i class="la la-arrow-circle-right"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="BigModal" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-auto order-3 order-sm-2 kt-margin-b-10-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Search..." id="searchSubjek">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <table id="dataSubjek" class="table table-hover dt-custom table-responsive-sm table-responsive-md">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>
                                        Nama
                                    </th>
                                    <th>
                                        NIK/NPWP
                                    </th>
                                    <th>
                                        NPWPD
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        function ShowModal() {
            $("#BigModal").modal();
        };

        function ShowModalSPPT() {
            $("#SPPTModal").modal();
        };

        var DatatablesSppt = function () {
            var initTable = function () {
                var table = $('#SpptTable');
                table.DataTable({
                    autoWidth: true,
                    dom: "<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'>>",
                    columnDefs: [{
                        targets: 0,
                        width: 15,
                        className: "dt-center"
                    }, {
                        targets: -1,
                        width: 100,
                        className: "dt-center"
                    }, {
                        targets: 6,
                        render: function (data, type, full, meta) {
                            var status = {
                                0: {
                                    'title': 'Belum Bayar',
                                    'state': 'danger',
                                    'icon': 'times'
                                },
                                1: {
                                    'title': 'Lunas',
                                    'state': 'success',
                                    'icon': 'check'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="kt-font-bold kt-font-' + status[data].state + '"><i class="fa fa-' + status[data].icon + '"></i> ' + status[data].title + '</span>';
                        }
                    }]
                });

                $('#SpptTable').DataTable().on('order.dt search.dt', function () {
                    $('#SpptTable').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                        $('#SpptTable').DataTable().cell(cell).invalidate('dom');
                    });
                }).draw();

                $('.dataTables_scrollBody').css('min-height', '150px');
            };

            return {
                init: function () {
                    initTable();
                },
            };

        }();

        var DatatablesStts = function () {
            var initTable = function () {
                var table = $('#SttsTable');
                table.DataTable({
                    searching: true,
                    bJQueryUI: true,
                    bFilter: true,
                    dom: "<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    scrollY: '60vh',
                    scrollX: true,
                    scrollCollapse: true,
                    columnDefs: [{
                        targets: 0,
                        width: 15,
                        className: "dt-center"
                    }, {
                        targets: -1,
                        width: 100,
                        className: "dt-center"
                    }, {
                        targets: 7,
                        visible: false
                    }, {
                        targets: 6,
                        render: function (data, type, full, meta) {
                            var status = {
                                "0": {
                                    'title': 'Belum Valid',
                                    'state': 'danger'
                                },
                                "1": {
                                    'title': 'Valid',
                                    'state': 'success'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="kt-badge kt-badge--' + status[data].state + ' kt-badge--dot"></span>&nbsp;' +
                                '<span class="kt-font-bold kt-font-' + status[data].state + '">' + status[data].title + '</span>';
                        }
                    }]
                });

                $('#SttsTable').DataTable().on('order.dt search.dt', function () {
                    $('#SttsTable').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                        $('#SttsTable').DataTable().cell(cell).invalidate('dom');
                    });
                }).draw();

                $('#length').on('change', function () {
                    var selectedValue = $(this).val();
                    $('#SttsTable').DataTable().page.len(selectedValue).draw();
                });

                $('#status').on('change', function () {
                    var selectedValue = $(this).val();
                    table.dataTable().fnFilter("^" + selectedValue + "$", 7, true); //Exact value, column, reg
                });

                $("#search").on('keyup', function () {
                    $('#SttsTable').dataTable().fnFilter(this.value);
                });

                $('.dataTables_scrollBody').css('min-height', '150px');
            };

            return {
                init: function () {
                    initTable();
                },
            };

        }();

        var DatatablesAjaxServer = function () {

            var initTable1 = function () {
                var table = $('#dataSubjek');

                // begin first table
                table.DataTable({
                    responsive: true,
                    searchDelay: 500,
                    processing: true,
                    serverSide: true,
                    searching: true,
                    bJQueryUI: true,
                    bFilter: true,
                    bSort: true,
                    dom: "<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'>>",
                    "ajaxSource": "/AjaxData/GetSubjekDetail",
                    fnServerData: function (sSource, aoData, fnCallback) {
                        aoData.push({ "name": "all", "value": true });
                        $.getJSON(sSource, aoData, function (json) {
                            fnCallback(json)
                        });
                    },
                    columns: [
                        { data: 'id' },
                        { data: 'nama' },
                        { data: 'nik' },
                        { data: 'npwpd' },
                        { data: 'status' },
                        { data: 'id' },
                    ],
                    columnDefs: [
                        {
                            targets: 0,
                            orderable: false,
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            targets: -1,
                            title: '',
                            orderable: false,
                            render: function (data, type, full, meta) {
                                return `<a href="/PBB/STTS/` + data + `" class="btn btn-sm btn-label-success">Pilih <i class="la la-arrow-circle-right"></i></a>`;
                            },
                        }, {
                            targets: 2,
                            orderable: false,
                            render: function (data, type, full, meta) {
                                if (full['nik'] != null) {
                                    return full['nik'];
                                }
                                else {
                                    return full['npwp'];
                                }
                            }
                        }, {
                            targets: 4,
                            render: function (data, type, full, meta) {
                                var status = {
                                    "0": {
                                        'title': 'Non Aktif',
                                        'state': 'danger'
                                    },
                                    "1": {
                                        'title': 'Aktif',
                                        'state': 'success'
                                    }
                                };
                                if (typeof status[data] === 'undefined') {
                                    return data;
                                }
                                return '<span class="kt-badge kt-badge--' + status[data].state + ' kt-badge--dot"></span>&nbsp;' +
                                    '<span class="kt-font-bold kt-font-' + status[data].state + '">' + status[data].title + '</span>';
                            }
                        }
                    ],
                });

                table.DataTable().on('order.dt search.dt', function () {
                    table.DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                        table.DataTable().cell(cell).invalidate('dom');
                    });
                }).draw();

                $("#searchSubjek").on('keyup', function () {
                    table.dataTable().fnFilter(this.value);
                });
            };

            return {

                //main function to initiate the module
                init: function () {
                    initTable1();
                },

            };

        }();

        jQuery(document).ready(function () {
            DatatablesSppt.init();
            DatatablesStts.init();
            DatatablesAjaxServer.init();
        });

    </script>
}