@model SIP.Models.Lra

@{
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}


<div class="row justify-content-center">
    <div class="col-lg-3">
        <!--begin::Portlet-->
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.Title
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-group">
                        <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item kt-padding-t-0">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            Anggaran
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Anggaran)</span>
                                        </span>
                                    </div>
                                    @if (Model.Aperubahan != null || Model.Aperubahan != 0)
                                    {
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget13__desc kt-align-right">
                                                Anggaran Perubahan
                                            </span>
                                            <span class="kt-widget13__text kt-font-bolder">
                                                <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Aperubahan)</span>
                                            </span>
                                        </div>
                                    }
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.Januari)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Januari ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.Februari)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Februari ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.Maret)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Maret ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.April)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.April ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.Mei)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Mei ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.Juni)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Juni ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.Juli)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Juli ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.Agustus)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Agustus ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.September)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.September ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.Oktober)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Oktober ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.November)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.November ?? 0)</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget13__desc kt-align-right">
                                            @Html.DisplayNameFor(model => model.Desember)
                                        </span>
                                        <span class="kt-widget13__text kt-font-bolder">
                                            <span class="kt-widget__data kt-align-right">  @string.Format("{0:C0}", Model.Desember ?? 0)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions kt-align-right">
                    <a asp-action="Tahun" asp-route-id="@Model.Tahun" class="btn btn-secondary">Kembali</a>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section Scripts {
    <script>

    </script>
}








