@model SIP.Models.Lra

@{
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<form asp-action="Tahunan">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <!--begin::Portlet-->
            <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            @ViewBag.SubHeaderTitle
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-group">
                            <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <input type="hidden" asp-for="IdLra" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label">Kode Rekening</label>
                            <input class="form-control" disabled value="@Model.IdCoa.Substring(0, 1) . @Model.IdCoa.Substring(1, 1) . @Model.IdCoa.Substring(2, 1) . @Model.IdCoa.Substring(3, 2) . @Model.IdCoa.Substring(5, 2)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label">Jenis</label>
                            <input class="form-control" disabled value="@Model.IdCoaNavigation.Uraian" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="Anggaran" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                                <input asp-for="Anggaran" class="form-control rupiah" autocomplete="off" required value="@String.Format("{0:N0}", Model.Anggaran)" />
                            </div>
                            <span asp-validation-for="Anggaran" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="Aperubahan" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="normal-font">Rp</i></span></div>
                                <input asp-for="Aperubahan" class="form-control rupiah" autocomplete="off" value="@String.Format("{0:N0}", Model.Aperubahan)" />
                            </div>
                            <span asp-validation-for="Aperubahan" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-align-right">
                        <a asp-action="Tahun" asp-route-id="@Model.Tahun" class="btn btn-secondary">Kembali</a>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/rupiah.mask.js"></script>
}


