@page
@model RegisterModel
@{
    ViewBag.Title = "User";
    ViewBag.SubHeaderTitle = "User";
    ViewBag.S1 = "";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
    Layout = "";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">@ViewBag.Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="la la-remove"></span>
        </button>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.IdPersonal"></label>
            <select asp-for="Input.IdPersonal" class="form-control kt-selectpicker" required title="Pilih Personal..." data-live-search="true" asp-items="Model.ListPersonal">
            </select>
            <span asp-validation-for="Input.IdPersonal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="alert alert-danger" role="alert">
                <div class="alert-text">Form invalid, please check again!</div>
            </div>
        </div>
        @if (Model.IsValid == false)
        {
            <div class="form-group">
                <div class="alert alert-danger" role="alert">
                    <div class="alert-text">Form invalid, please check again!</div>
                </div>
            </div>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Register</button>
    </div>
</form>
@*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
