@model SIP.Models.Lspop

@{
    ViewBag.Title = "Detail LSPOP";
    ViewBag.SubHeaderTitle = "LSPOP";
    ViewBag.S1 = "Detail LSPOP";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

    <div class="row justify-content-center">
        <div class="col-lg-7">
            <!--begin::Portlet-->
            <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h5 class="kt-portlet__head-title">
                            @ViewBag.Title
                        </h5>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row justify-content-around">
                        <div class="col-md-5">
                            <div class="kt-widget kt-widget--user-profile-2">
                                <div class="kt-widget__body">
                                    <div class="kt-widget__item kt-padding-t-0">
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Jenis Bangunan</span>
                                            <span class="kt-widget__data kt-align-right">@Model.IdJenisNavigation.Jenis</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Luas Bangunan</span>
                                            <span class="kt-widget__data kt-align-right">@Html.DisplayFor(modelItem => Model.Luas) M <sup>2</sup></span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Jumlah Lantai</span>
                                            <span class="kt-widget__data kt-align-right"> @Html.DisplayFor(modelItem => Model.JumlahLantai)</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Daya Listrik</span>
                                            <span class="kt-widget__data kt-align-right"> @Html.DisplayFor(modelItem => Model.DayaListrik) Kwh</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Tahun Dibagun</span>
                                            <span class="kt-widget__data kt-align-right"> @Html.DisplayFor(modelItem => Model.TahunBangun)</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Tahun Direnovasi</span>
                                            <span class="kt-widget__data kt-align-right"> @Html.DisplayFor(modelItem => Model.TahunRenov)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="kt-widget kt-widget--user-profile-2">
                                <div class="kt-widget__body">
                                    <div class="kt-widget__item kt-padding-t-0">
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Konstruksi</span>
                                            <span class="kt-widget__data kt-align-right">@(Model.Konstruksi ?? "-")</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Atap</span>
                                            <span class="kt-widget__data kt-align-right">@(Model.Atap ?? "-")</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Dinding</span>
                                            <span class="kt-widget__data kt-align-right">@(Model.Dinding ?? "-")</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Lantai</span>
                                            <span class="kt-widget__data kt-align-right">@(Model.Lantai ?? "-")</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Langit-langit</span>
                                            <span class="kt-widget__data kt-align-right">@(Model.Langit2 ?? "-")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--collapsed" data-ktportlet="true" id="data_tambahan">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Data Tambahan
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-group">
                            <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <label class="col-md-2 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Jumlah AC:</label>
                        <div class="col-md-2 form-group">
                            <label asp-for="AcSealing" class="control-label"></label>
                            <input disabled asp-for="AcSealing" min="0" class="form-control" />
                            <span asp-validation-for="AcSealing" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="AcSplit" class="control-label"></label>
                            <input disabled asp-for="AcSplit" min="0" class="form-control" />
                            <span asp-validation-for="AcSplit" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="AcWindow" class="control-label"></label>
                            <input disabled asp-for="AcWindow" min="0" class="form-control" />
                            <span asp-validation-for="AcWindow" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox">
                                        <input disabled asp-for="AcSentral" /> AC Sentral
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Kolam Renang:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="KolamLuas" class="control-label">Luas</label>
                            <div class="input-group">
                                <input disabled asp-for="KolamLuas" class="form-control" min="0" />
                                <div class="input-group-append"><span class="input-group-text"><i class="normal-font">M</i><sup>2</sup></span></div>
                            </div>
                            <span asp-validation-for="KolamLuas" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="KolamJenis" class="control-label">Jenis</label>
                            <select asp-for="KolamJenis" class="form-control kt-selectpicker" title="-" asp-items="ViewBag.Kolam_Jenis"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Lapangan Tenis:</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Aspal:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganAspal1" class="control-label">Dengan Lampu</label>
                            <input disabled asp-for="LapanganAspal1" min="0" class="form-control" />
                            <span asp-validation-for="LapanganAspal1" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganAspal2" class="control-label">Tanpa Lampu</label>
                            <input disabled asp-for="LapanganAspal2" min="0" class="form-control" />
                            <span asp-validation-for="LapanganAspal2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Beton:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganBeton1" class="control-label">Dengan Lampu </label>
                            <input disabled asp-for="LapanganBeton1" min="0" class="form-control" />
                            <span asp-validation-for="LapanganBeton1" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganBeton2" class="control-label">Tanpa Lampu</label>
                            <input disabled asp-for="LapanganBeton2" min="0" class="form-control" />
                            <span asp-validation-for="LapanganBeton2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Tanah Liat/Rumput:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganTanah1" class="control-label">Dengan Lampu</label>
                            <input disabled asp-for="LapanganTanah1" min="0" class="form-control" />
                            <span asp-validation-for="LapanganTanah1" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="LapanganTanah2" class="control-label">Tanpa Lampu</label>
                            <input disabled asp-for="LapanganTanah2" min="0" class="form-control" />
                            <span asp-validation-for="LapanganTanah2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Pagar:</label>
                        <div class="col-md-4 form-group">
                            <label asp-for="PagarPanjang" class="control-label">Panjang</label>
                            <div class="input-group">
                                <input disabled asp-for="PagarPanjang" class="form-control" autocomplete="off" min="0" />
                                <div class="input-group-append"><span class="input-group-text"><i class="normal-font">M</i></span></div>
                            </div>
                            <span asp-validation-for="PagarPanjang" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="PagarJenis" class="control-label">Jenis</label>
                            <select asp-for="PagarJenis" class="form-control kt-selectpicker" title="-" asp-items="ViewBag.Pagar_Jenis"></select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Pengerasan Halaman:</label>
                        <div class="col-md-2 form-group">
                            <label asp-for="HalamanRingan" class="control-label">Ringan</label>
                            <input disabled asp-for="HalamanRingan" min="0" class="form-control" />
                            <span asp-validation-for="HalamanRingan" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="HalamanSedang" class="control-label">Sedang</label>
                            <input disabled asp-for="HalamanSedang" min="0" class="form-control" />
                            <span asp-validation-for="HalamanSedang" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="HalamanBerat" class="control-label">Berat</label>
                            <input disabled asp-for="HalamanBerat" min="0" class="form-control" />
                            <span asp-validation-for="HalamanBerat" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="HalamanLantai" class="control-label">Dengan Lantai</label>
                            <input disabled asp-for="HalamanLantai" min="0" class="form-control" />
                            <span asp-validation-for="HalamanLantai" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Jumlah Lift:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="LiftPenumpang" class="control-label"></label>
                            <input disabled asp-for="LiftPenumpang" min="0" class="form-control" />
                            <span asp-validation-for="LiftPenumpang" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="LiftKapsul" class="control-label"></label>
                            <input disabled asp-for="LiftKapsul" min="0" class="form-control" />
                            <span asp-validation-for="LiftKapsul" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="LiftBarang" class="control-label"></label>
                            <input disabled asp-for="LiftBarang" min="0" class="form-control" />
                            <span asp-validation-for="LiftBarang" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label hor-label kt-margin-t-0-mobile kt-margin-b-10-mobile">Jumlah Tangga Berjalan:</label>
                        <div class="col-md-3 form-group">
                            <label asp-for="Eskalator1" class="control-label">Lebar < 0,8 M</label>
                            <input disabled asp-for="Eskalator1" min="0" class="form-control" />
                            <span asp-validation-for="Eskalator1" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label asp-for="Eskalator2" class="control-label">Lebar > 0,8 M</label>
                            <input disabled asp-for="Eskalator2" min="0" class="form-control" />
                            <span asp-validation-for="Eskalator2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label asp-for="PabxJumlah" class="control-label">Jumlah Pabx</label>
                            <input disabled asp-for="PabxJumlah" min="0" class="form-control" />
                            <span asp-validation-for="PabxJumlah" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="ArtesisKedalaman" class="control-label">Kedalaman Sumur Artesis:</label>
                            <input disabled asp-for="ArtesisKedalaman" min="0" class="form-control" />
                            <span asp-validation-for="ArtesisKedalaman" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Pemadam Kebakaran</label>
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox">
                                        <input disabled asp-for="Hydrant" /> Hydrant
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox">
                                        <input disabled asp-for="Sprinkle" /> Sprinkle
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox">
                                        <input disabled asp-for="FireAlarm" /> Fire Alarm
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-align-right">
                        <a asp-action="LSPOP" asp-controller="PBB" asp-route-id="@Model.IdSpop" class="btn btn-secondary">Kembali</a>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>

@section Scripts {
    
}
