@model SIP.Models.Spop

@{
    ViewBag.Title = "Validasi SPOP";
    ViewBag.SubHeaderTitle = "SPOP";
    ViewBag.S1 = "Validasi SPOP";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<div class="row justify-content-center">
    <div class="col-lg-7">
        <!--begin::Portlet-->
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.Title
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item kt-padding-t-0">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">NOP</span>
                                        <span class="kt-widget__data kt-align-right">@Model.Nop</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Tanggal</span>
                                        <span class="kt-widget__data kt-align-right">@String.Format("{0:dd MMMM yyyy}", Model.Tanggal)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item kt-padding-t-0">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Tahun</span>
                                        <span class="kt-widget__data kt-align-right">@Model.Tahun</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--space-sm"></div>
                <div class="row justify-content-around kt-margin-t-10">
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item kt-padding-t-0">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Letak Objek Pajak</span>
                                        <span class="kt-widget__data kt-align-left">@Model.NamaJalan No. @Model.BlokKavNo</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label"></span>
                                        <span class="kt-widget__data kt-align-left">RT. @Model.Rt RW. @Model.Rw</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label"></span>
                                        <span class="kt-widget__data kt-align-left">@Model.IndKelurahan.Kelurahan</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label"></span>
                                        <span class="kt-widget__data kt-align-left">@Model.IndKecamatan.Kecamatan</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label"></span>
                                        <span class="kt-widget__data kt-align-left">@Model.IndKabKota.KabKota</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Luas Tanah</span>
                                        <span class="kt-widget__data kt-align-right">@Model.LuasTanah M<sup>2</sup></span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Jumlah Bangunan</span>
                                        <span class="kt-widget__data kt-align-right">@Model.JumlahBangunan</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Jenis Tanah</span>
                                        <span class="kt-widget__data kt-align-right">@Model.JenisTanah</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Kelas</span>
                                        <span class="kt-widget__data kt-align-left">@Model.Zona</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">NJOP</span>
                                        <span class="kt-widget__data kt-align-right">Rp. @string.Format("{0:C0}", Model.Njop)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 kt-hidden-desktop kt-hidden-tablet kt-margin-b-10">
                        <div class="kt-separator kt-separator--space-sm"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item kt-padding-t-0">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Data Wajib Pajak</span>
                                        <span class="kt-widget__data kt-align-right">@Model.IdSubjekNavigation.Nama</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label"></span>
                                        <span class="kt-widget__data kt-align-right">@Model.IdSubjekNavigation.Alamat</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label"></span>
                                        <span class="kt-widget__data kt-align-right">@Model.IdSubjekNavigation.IndKelurahan.Kelurahan</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label"></span>
                                        <span class="kt-widget__data kt-align-right">@Model.IdSubjekNavigation.IndKecamatan.Kecamatan</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label"></span>
                                        <span class="kt-widget__data kt-align-right">@Model.IdSubjekNavigation.IndKabKota.KabKota</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">NPWPD</span>
                                        <span class="kt-widget__data kt-align-right">@Model.IdSubjekNavigation.Npwpd </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions kt-align-right">
                    <form asp-action="Validasi">
                        <input type="hidden" asp-for="IdSpop" />
                        <a asp-action="SPOP" asp-controller="PBB" asp-route-id="@Model.IdSubjek" class="btn btn-secondary">Kembali</a>
                        @if (Model.FlagValidasi)
                        {
                            <input type="submit" value="Batalkan Validasi" class="btn btn-danger" />
                        }
                        else
                        {
                            <input type="submit" value="Validasi" class="btn btn-success" />
                        }
                    </form>
                    
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section Scripts {
    
}
