@model SIP.Models.Skpdn

@{
    ViewBag.Title = "Buat SKPDN";
    ViewBag.SubHeaderTitle = "SKPDN";
    ViewBag.S1 = "Tambah Data";
    ViewBag.S2 = "";
    ViewBag.S3 = "";
    ViewBag.S4 = "";
}

<div class="row justify-content-center">
    <div class="col-lg-3">
        <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
            <div class="kt-portlet__head kt-ribbon kt-ribbon--success kt-ribbon--left kt-ribbon--round">
                <div class="kt-ribbon__target" style="top: 10px; right: -2px;">Lunas</div>
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Detail @Model.Jenis
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget kt-widget--user-profile-2">
                    <div class="kt-widget__body">
                        <div class="kt-widget__item kt-padding-t-0">
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Jenis Pajak</span>
                                <span class="kt-widget__data kt-align-right">@Model.IdCoaNavigation.Uraian</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">No. @Model.Jenis</span>
                                <span class="kt-widget__data kt-align-right">@Model.NoSurat</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Tanggal</span>
                                <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.TanggalSurat)</span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Masa Pajak</span>
                                <span class="kt-widget__data kt-align-right">
                                    @string.Format("{0:MMMM}", Model.MasaPajak1)
                                    <small>(@string.Format("{0:dd MMM yyyy}", Model.MasaPajak1) - @string.Format("{0:dd MMM yyyy}", Model.MasaPajak2))</small>
                                </span>
                            </div>
                            <div class="kt-separator kt-separator--space-sm"></div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Terhutang</span>
                                <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.Terhutang)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <form asp-action="Create">
            <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_1">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            @ViewBag.Title
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <input type="hidden" asp-for="IdSkpdn" />
                    <div class="row justify-content-around">
                        <div class="col-md-5">
                            <div class="kt-widget kt-widget--user-profile-2">
                                <div class="kt-widget__body">
                                    <div class="kt-widget__item kt-padding-t-0">
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">No. SSPD</span>
                                            <span class="kt-widget__data kt-align-right">@Model.IdSspdNavigation.NoSspd</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Tanggal Bayar</span>
                                            <span class="kt-widget__data kt-align-right">@string.Format("{0:dd MMMM yyyy}", Model.IdSspdNavigation.TanggalBayar)</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Jenis Setoran</span>
                                            <span class="kt-widget__data kt-align-right">@Model.IdSspdNavigation.IdSetoranNavigation.Jenis</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="kt-widget kt-widget--user-profile-2">
                                <div class="kt-widget__body">
                                    <div class="kt-widget__item kt-padding-t-0">
                                        @if (Model.IdSspdNavigation.IdBank != null)
                                        {
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Bank Setoran</span>
                                                <span class="kt-widget__data kt-align-right">@Model.IdSspdNavigation.IdBankNavigation.NamaRek</span>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label"></span>
                                                <span class="kt-widget__data kt-align-right">@Model.IdSspdNavigation.IdBankNavigation.NoRek</span>
                                            </div>
                                        }
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Jumlah Setoran</span>
                                            <span class="kt-widget__data kt-align-right">@string.Format("{0:C0}", Model.KreditPajak)</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label"></span>
                                            <span class="kt-widget__data kt-align-right" id="terbilang"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-align-right">
                        <a asp-action="SKPDN" asp-controller="Penetapan" asp-route-id="@Model.IdSptpd" class="btn btn-secondary">Kembali</a>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/terbilang.js"></script>
    <script>
        var hutang = @Math.Floor(Model.KreditPajak ?? 0);
        document.getElementById("terbilang").innerHTML = (terbilang(hutang)) + "rupiah";
    </script>
}
